{% extends "dashboard/base.html" %}

{% block title %}{{ "Hackathons" }}{%endblock %}

{% load static %}


{% block main %}

<!-- Page title -->
<div class="page-header d-print-none">
    <div class="row align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Coders Headquarters
            </div>
            <h2 class="page-title">
                Hackathons
            </h2>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">{{ object.title }}</h3>
        <p>{{ object.subtitle }}</p>
        <div class="mb-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 4v3m-4 -3v6m8 -6v6" /><path d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z" /></svg>
            Join date: <strong>{{object.last_join_date|timeuntil}}</strong> (Hackathon starts in {{object.date_start|timeuntil}})
          </div>
          <div class="mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="13" r="7" /><polyline points="12 10 12 13 14 13" /><line x1="7" y1="4" x2="4.25" y2="6" /><line x1="17" y1="4" x2="19.75" y2="6" /></svg>
            Duration: <strong>{{ object.date_start|timesince:object.date_end }}</strong>
          </div>
          <div class="mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3" /><path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3" /><circle cx="15" cy="9" r="1" /></svg>
            Type: <strong> {{ hackathon.get_hackathon_type_display }}</strong>
          </div>
          <div class="mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="9" cy="7" r="4" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" /></svg>
        Competitors:
        {% if user in object.competitors.all %}
        <strong class="text-primary">{{hackathon.competitors.count }}</strong>
        {% else %}
        <strong>{{hackathon.competitors.count }}</strong>
        {% endif %}
        </div>
    </div>
 
    <!-- Card footer -->
    <div class="card-footer">
        <div class="d-flex">
        
                {% if user in object.competitors.all %}
                <button  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-large">Leave</button>
                {% else %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-large">Join</button>
                {% endif %}

            <h2 class="ms-auto">{{ object.prize_display }}</h2>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-large" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{object.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to join this hackathon? It will start in {{ object.date_start }}.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                <form class="form-horizontal" method="post" action="{% url 'hackathon:detail' object.slug %}">
                    {% csrf_token %}
                    {% if user in object.competitors.all %}
                    <button type="submit" class="btn btn-danger">Leave</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Join</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <ul class="nav nav-tabs" data-bs-toggle="tabs">
        <li class="nav-item">
            <a href="#tabs-description-ex1" class="nav-link active" data-bs-toggle="tab">Description</a>
        </li>
        <li class="nav-item">
            <a href="#tabs-evaluation-ex1" class="nav-link" data-bs-toggle="tab">Evaluation</a>
        </li>
        <li class="nav-item">
            <a href="#tabs-timeline-ex1" class="nav-link" data-bs-toggle="tab">Timeline</a>
        </li>
        <li class="nav-item">
            <a href="#tabs-rules-ex1" class="nav-link" data-bs-toggle="tab">Rules</a>
        </li>
        <li class="nav-item">
            <a href="#tabs-prizes-ex1" class="nav-link" data-bs-toggle="tab">Prizes</a>
        </li>
    </ul>
   
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tabs-description-ex1">
                <div>{{ object.description|linebreaks }}</div>
            </div>
            <div class="tab-pane" id="tabs-evaluation-ex1">
                <div>{{ object.evaluation|linebreaks }}</div>
            </div>
            <div class="tab-pane" id="tabs-timeline-ex1">
                <div>{{ object.timeline|linebreaks }}</div>
            </div>
            <div class="tab-pane" id="tabs-rules-ex1">
                <div>{{ object.rules|linebreaks }}</div>
            </div>
            <div class="tab-pane" id="tabs-prizes-ex1">
                <div>{{ object.prizes|linebreaks }}</div>
            </div>
        </div>
    </div>
</div>



{% endblock %}