{% extends "base.html" %}
{% load static %}

{% block navigation %}
{% include "pages/nav_dark.html" %}
{% endblock navigation %}

{% block content %}


<section id="initiatives" class="ud-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title">
          <span>Features</span>
          <h1>
            <div class="gradient">Coders (HQ)</div> Challenges
          </h1>
          <p>
            Challenges is one of the main features of Coders HQ. 
            Participate in a challenge to test your skills and get rewarded!
          </p>
          {% if user.is_staff %}
          <p>You are a staff you can <a href="{% url 'challenge:challenge-create'%}">create a challenge</a></p>
          {% endif %}
        </div>
      </div>
    </div>


    {% if challenges %}
    <div class="row row-cols-md-3 g-4">

      {% for challenge in challenges %}

      <div class="col">
        <div class="card h-100 hoverable-card">
          {% if challenge.image %}
          <img src=" {{MEDIA_URL}}{{challenge.image}}" class="card-img-top" alt="image" />
          {% else %}
          <img src="{% static 'images/challenges/default.png' %}" class="card-img-top" alt="default" />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{challenge.name}}
            </h5>

            <div class="card-text">
              {{challenge.short_description}}
            </div>

              <a href="{{ challenge.get_absolute_url }}" class="stretched-link"></a>

          </div>
          <ul class="list-group list-group-flush">

            <li class="d-flex list-group-item justify-content-between">
              <div > <strong>{{challenge.get_reward}} </strong></div> 
              <div class="text-muted">{{challenge.get_time_left}} </div> 
            </li>


          </ul>
        </div>
      </div>

      {% endfor %}
     

      

    </div>

    {% else %}
    <div class="text-center ">

          <p>There are no challenges yet, come back soon!</p>

    </div>
    {% endif %}

  </div>


</section>

{% endblock %}