{% extends "base.html" %}
{% load static %}

{% block navigation %}
{% include "pages/nav_dark.html" %}
{% endblock navigation %}

{% block content %}

<section id="initiatives" class="ud-features">
    <div class="container">

        <div class="card">
            <div class="card-header">Challenge 1</div>
            <div class="card-body">
                <h5 class="card-title">
                    {{challenge.name}}
                </h5>
                <p class="card-text">{{challenge.short_description}}</p>
                <a href="#" class="btn btn-primary mt-2">Go somewhere</a>
            </div>
        </div>

        <div class="row mt-4">

            <div class="col-sm-8">
                <div class="card">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">Home</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">Evaluation</button>
                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-messages" type="button" role="tab"
                                aria-controls="v-pills-messages" aria-selected="false">Prizes</button>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">Rules</button>
                        </div>
                        <div class="tab-content mt-2" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">{{challenge.description|safe}}</div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">{{challenge.evaluation|safe}}</div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                aria-labelledby="v-pills-messages-tab">{{challenge.reward|safe}}</div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">Timeline</div>
                    <div class="card-body">
                        <p class="card-text">

                        <ul>
                            <li>November 2, 2021 - Start Date</li>
                            <li>January 25, 2022 - Entry deadline. You must accept the competition rules before this
                                date in order to compete.</li>
                            <li>January 25, 2022 - Team Merger deadline. This is the last day participants may join or
                                merge teams.</li>
                            <li>February 1, 2022 - Final submission deadline.</li>
                        </ul>

                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


{% endblock %}