{% extends 'dashboard/dep.html' %}
{% load static i18n%}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
      
          Tip 2: you can also add an image using data-image tag
      -->
    <div class="logo"><a href="http://codershq.ae" class="simple-text logo-normal">
            <img src="{% static 'images/logo/dark_text.png' %}" alt="My image" class="splash-image" width="100%">

        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            {% url 'home' as home_url %}
            {% if request.get_full_path == home_url %}
            <li class="nav-item active ">
                {% else %}
            <li class="nav-item ">
                {% endif %}
                <a class="nav-link" href="{% url 'home'  %}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            {% url 'users:detail' request.user.username as user_url %}
            {% url 'users:update' request.user.username as user_update_url %}
            {% if request.get_full_path == user_url or request.get_full_path == user_update_url %}
            <li class="nav-item active ">
                {% else %}
            <li class="nav-item ">
                {% endif %}
                <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            {% url 'hackathon:list' as hackathon_url %}
            {% if request.get_full_path == hackathon_url %}
            <li class="nav-item active ">
                {% else %}
            <li class="nav-item ">
                {% endif %}
                <a class="nav-link" href="{% url 'hackathon:list' %}">
                    <i class="material-icons">emoji_events</i>
                    <p>Hackathon</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./typography.html">
                    <i class="material-icons">library_books</i>
                    <p>Typography</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./map.html">
                    <i class="material-icons">location_ons</i>
                    <p>Maps</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./rtl.html">
                    <i class="material-icons">language</i>
                    <p>RTL Support</p>
                </a>
            </li>
            <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>

{% block main %}
{% endblock main %}

{% endblock content %}