{% extends 'base.html' %}

{% load static i18n %}

{% block content %}

<meta id="my-username" data-username="{{ request.user.username }}" />
<div class="page">
  <aside id="dashboardSidebar" class="navbar navbar-vertical navbar-expand-lg pdark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand">
        <a href=".">
          <img id="darkLogo" class="sidebarLogo" src="{%  static 'images/logo/dark_notext.svg' %}" width="100%"
            alt="Coders Headquarters" />
          <img id="lightLogo" class="sidebarLogo" src="{%  static 'images/logo/light_notext.svg' %}" width="100%"
            alt="Coders Headquarters" />
        </a>
      </h1>
      <div id="mobileAvatar" class="card pl-3 pr-3 mobileDiv">
        <div class="navbar-nav flex-row order-md-last">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
              aria-label="Open user menu">
              {% if user.profile_image %}
              <svg style="background-image: url({{ request.user.profile_image.url }}); border-radius:100%;"
                class="avatar avatar-sm">
              </svg>
              {% else %}
              <span class="avatar avatar-sm avatar-rounded">{{user.username|make_list|slice:':2'|join:'' }}</span>
              </svg>
              {% endif %}
              <div class="d-none d-xl-block ps-2">
                <div>{{ request.user.username}}</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <a href="{% url 'users:redirect' %}" class="dropdown-item">Profile</a>
              <a href="#" class="dropdown-item">Feedback</a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'construction' %}" class="dropdown-item">Settings</a>
              <a href=" {% url 'account_logout' %}" class="dropdown-item">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav pt-lg-3">
          <li class="nav-item">
            <a id="homeLink" class="nav-link" href="{% url 'dashboard:home' %}">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                  class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                  fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <polyline points="5 12 3 12 12 3 21 12 19 12" />
                  <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                  <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                </svg>
              </span>
              <span class="nav-link-title"> Home </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="challengeLink" class="nav-link" href="{% url 'challenge:list' %}">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                  class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                  fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3" />
                  <line x1="12" y1="12" x2="20" y2="7.5" />
                  <line x1="12" y1="12" x2="12" y2="21" />
                  <line x1="12" y1="12" x2="4" y2="7.5" />
                  <line x1="16" y1="5.25" x2="8" y2="9.75" />
                </svg>
              </span>
              <span class="nav-link-title"> Challenges </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="profileLink" class="nav-link" href="{% url 'users:redirect' %}">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                  class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                  fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <circle cx="12" cy="7" r="4" />
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
              </span>
              <span class="nav-link-title"> Profile </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="newsLink" class="nav-link" href="{% url 'dashboard:news' %}">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                  class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                  fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                  <line x1="8" y1="8" x2="12" y2="8" />
                  <line x1="8" y1="12" x2="12" y2="12" />
                  <line x1="8" y1="16" x2="12" y2="16" />
                </svg>
              </span>
              <span class="nav-link-title"> News </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="blogLink" class="nav-link" href="{% url 'construction' %}">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                  class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                  fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <polyline points="9 11 12 14 20 6" />
                  <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
                </svg>
              </span>
              <span class="nav-link-title"> Blog </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'account_logout' %}">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-logout" width="44" height="44" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M7 12h14l-3 -3m0 6l3 -3" />
                </svg>
              </span>
              <span class="nav-link-title"> Logout </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="topBeta" class="beta-tag" aria-hidden="true">
      <div class="beta-tag__ribbon">
        Beta
      </div>
    </div>
  </aside>

  <div id="bottomBeta" class="beta-tag" aria-hidden="true">
    <div class="beta-tag__ribbon">
      Beta
    </div>
  </div>

  <header id="navBar" class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
      <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">Coders Headquarters</div>
      <div id="userCard" class="pl-3 pr-3">
        <div class="navbar-nav flex-row order-md-last">
          <div id="userLink" class="nav-item dropdown">
            <a href="#" class="nav-link d-flex lh-1 p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
              {% if user.profile_image %}
              <svg style="background-image: url({{ request.user.profile_image.url }}); border-radius:100%;"
                class="avatar avatar-sm">
              </svg>
              {% else %}
              <span id="userAvatar"
                class="avatar avatar-sm avatar-rounded">{{user.username|make_list|slice:':2'|join:''}}</span>
              </svg>
              {% endif %}
              <div class="d-none d-xl-block ps-2">
                <div id="userCardName">{{ request.user.username}}</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <a href="{% url 'construction' %}" class="dropdown-item">Set status</a>
              <a href="{% url 'users:redirect' %}" class="dropdown-item">Profile & account</a>
              <a href="{% url 'construction' %}" class="dropdown-item">Feedback</a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'construction' %}" class="dropdown-item">Settings</a>
              <a href=" {% url 'account_logout' %}" class="dropdown-item">Logout</a>
            </div>
          </div>
          <div class="nav-item dropdown d-none d-md-flex me-1 ml-3">
            <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications"
              aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
              </svg>
              <span class="badge bg-red"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
              <div class="card">
                <div class="card-body">
                  This feature is a work in progress, check it out again soon!
                  😉
                </div>
              </div>
            </div>
          </div>
          <div class="nav-item dropdown d-none d-md-flex me-1">
            <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show Settings"
              aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                <circle cx="12" cy="12" r="3" />
              </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
              <div class="card">
                <div class="card-body">
                  This feature is a work in progress, check it out again soon!
                  😉
                </div>
              </div>
            </div>
          </div>
          <div class="nav-item dropdown d-none d-md-flex me-1">
            <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show Settings"
              aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lifebuoy" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="4" />
                <circle cx="12" cy="12" r="9" />
                <line x1="15" y1="15" x2="18.35" y2="18.35" />
                <line x1="9" y1="15" x2="5.65" y2="18.35" />
                <line x1="5.65" y1="5.65" x2="9" y2="9" />
                <line x1="18.35" y1="5.65" x2="15" y2="9" />
              </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
              <div class="card">
                <div class="card-body">
                  This feature is a work in progress, check it out again soon!
                  😉
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </header>

  <div class="content">
    <div class="container-xl">

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}

      {% block main %}
      {% endblock main %}

    </div>
  </div>
</div>

{% endblock content %}


{% block inline_javascript %}
{# Script tags with only code, no src (defer by default) #}
<script>
  // Set the Navbar Active Link
  $(function () {
    var current = location.pathname;
    $(".nav-link").each(function () {
      var $this = $(this);
      // if the current path is like this link, make it active
      if ($this.attr("id") === "homeLink" && current === "/") {
        $this.addClass("active");
      } else if (
        $this.attr("id") === "challengeLink" &&
        current.includes("challenge")
      ) {
        $this.addClass("active");
      } else if (
        $this.attr("id") === "profileLink" &&
        current.includes($("#my-username").data().username) &&
        $("#my-username").data().username !== ""
      ) {
        $this.addClass("active");
      } else if ($this.attr("id") === "newsLink" && current.includes("news")) {
        $this.addClass("active");
      } else if ($this.attr("id") === "blogLink" && current.includes("blog")) {
        $this.addClass("active");
      }
    });
  });
</script>
{% endblock inline_javascript %}