{% extends "dashboard/base.html" %}

{% block title %}{{ "Dashboard" }}{%endblock %}

{% load static %}

{% block main %}

<!-- Page title -->
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">Coders Headquarters</div>
      <h2 class="page-title">Home</h2>
    </div>
    <!-- Page title actions -->
  </div>
</div>
<div class="row row-deck row-cards">
    <div class="row row-cards">
      <div class="col-md-3">
        <div class="card" style="height: calc(25rem + 10px)">
          <div class="card-body p-4 text-center">
            {% if user.profile_image %}
            <span class="avatar avatar-xl mb-4 avatar-rounded" style="background-image: url({{ user.profile_image.url }})"></span>
            {% else %}
            <span class="avatar avatar-xl mb-4 avatar-rounded" >{{user.username|make_list|slice:':2'|join:'' }}</span>
            {% endif %}
            <h3 class="m-0 mb-2">{{user.name}}</h3>
            <div class="text-muted mb-3"><a href="{% url 'users:redirect' %}">@{{user.username}}</a></div>
            <div class="text-muted">{{user.bio}}</div>
          </div>
            <div class="card-footer text-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="GitHub Score">
               {{user.github_score}}
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="height: calc(25rem + 10px)">
            <ul class="nav nav-tabs card-header" data-bs-toggle="tabs">
              <li class="nav-item">
                <a href="#tabs-rules-ex1" class="nav-link active" data-bs-toggle="tab"
                  >General</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#tabs-description-ex1"
                  class="nav-link"
                  data-bs-toggle="tab"
                  >Development Activity</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#tabs-evaluation-ex1"
                  class="nav-link"
                  data-bs-toggle="tab"
                  >News</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#tabs-timeline-ex1"
                  class="nav-link"
                  data-bs-toggle="tab"
                  >Blog</a
                >
              </li>
            </ul>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane show" id="tabs-description-ex1">
                  <div
                    class="card"
                    style="
                      height: calc(19rem + 9px);
                      border: none;
                      box-shadow: none;
                    "
                  >
                    <div
                      class="card-body card-body-scrollable card-body-scrollable-shadow"
                    >
                      <div class="divide-y-5">
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span class="avatar">JL</span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Jeffie Lewzey</strong> commented on your
                                <strong>"I'm not a witch."</strong> post.
                              </div>
                              <div class="text-muted">yesterday</div>
                            </div>
                            <div class="col-auto align-self-center">
                              <div class="badge bg-primary"></div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/002m.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                It's <strong>Mallory Hulme</strong>'s birthday.
                                Wish him well!
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                            <div class="col-auto align-self-center">
                              <div class="badge bg-primary"></div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/003m.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Dunn Slane</strong> posted
                                <strong>"Well, what do you want?"</strong>.
                              </div>
                              <div class="text-muted">today</div>
                            </div>
                            <div class="col-auto align-self-center">
                              <div class="badge bg-primary"></div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/000f.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Emmy Levet</strong> created a new
                                project <strong>Morning alarm clock</strong>.
                              </div>
                              <div class="text-muted">4 days ago</div>
                            </div>
                            <div class="col-auto align-self-center">
                              <div class="badge bg-primary"></div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/001f.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Maryjo Lebarree</strong> liked your
                                photo.
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span class="avatar">EP</span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Egan Poetz</strong> registered new
                                client as <strong>Trilia</strong>.
                              </div>
                              <div class="text-muted">yesterday</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/002f.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Kellie Skingley</strong> closed a new
                                deal on project
                                <strong>Pen Pineapple Apple Pen</strong>.
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/003f.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Christabel Charlwood</strong> created a
                                new project for <strong>Wikibox</strong>.
                              </div>
                              <div class="text-muted">4 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span class="avatar">HS</span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Haskel Shelper</strong> change status of
                                <strong>Tabler Icons</strong> from
                                <strong>open</strong> to
                                <strong>closed</strong>.
                              </div>
                              <div class="text-muted">today</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/006m.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Lorry Mion</strong> liked
                                <strong>Tabler UI Kit</strong>.
                              </div>
                              <div class="text-muted">yesterday</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/004f.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Leesa Beaty</strong> posted new video.
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/007m.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Perren Keemar</strong> and 3 others
                                followed you.
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span class="avatar">SA</span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Sunny Airey</strong> upload 3 new photos
                                to category <strong>Inspirations</strong>.
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/009m.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Geoffry Flaunders</strong> made a
                                <strong>$10</strong> donation.
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/010m.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Thatcher Keel</strong> created a
                                profile.
                              </div>
                              <div class="text-muted">3 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/005f.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Dyann Escala</strong> hosted the event
                                <strong>Tabler UI Birthday</strong>.
                              </div>
                              <div class="text-muted">4 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span
                                class="avatar"
                                style="
                                  background-image: url(./static/avatars/006f.jpg);
                                "
                              ></span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Avivah Mugleston</strong> mentioned you
                                on <strong>Best of 2020</strong>.
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-auto">
                              <span class="avatar">AA</span>
                            </div>
                            <div class="col">
                              <div class="text-truncate">
                                <strong>Arlie Armstead</strong> sent a Review
                                Request to <strong>Amanda Blake</strong>.
                              </div>
                              <div class="text-muted">2 days ago</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tabs-evaluation-ex1">
                  <div>
                    <p>
                      Hybrid is amazing because hybrid means it's virtual and
                      global at the same time
                    </p>
                  </div>
                </div>
                <div class="tab-pane active" id="tabs-timeline-ex1">
                  <div>
                    <p>
                      Hybrid is amazing because hybrid means it's virtual and
                      global at the same time
                    </p>
                  </div>
                </div>
                <div class="tab-pane" id="tabs-rules-ex1">
                  <div>
                    <p>
                      Hybrid is amazing because hybrid means it's virtual and
                      global at the same time
                    </p>
                  </div>
                </div>
                <div class="tab-pane" id="tabs-prizes-ex1">
                  <div>
                    <p>
                      Hybrid is amazing because hybrid means it's virtual and
                      global at the same time
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card" style="height: calc(25rem + 10px)">
          <div class="card-header">
            <h3 class="card-title">Top #5 Programming Languages</h3>
          </div>
          <table class="table card-table table-vcenter">
            <thead>
              <tr>
                <th>Language</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Python</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div
                      class="progress-bar bg-primary"
                      style="width: 71%"
                    ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Python</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div
                      class="progress-bar bg-primary"
                      style="width: 35.96%"
                    ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Python</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div
                      class="progress-bar bg-primary"
                      style="width: 24.9%"
                    ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Python</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div
                      class="progress-bar bg-primary"
                      style="width: 19.72%"
                    ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Python</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div
                      class="progress-bar bg-primary"
                      style="width: 17.08%"
                    ></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal modal-blur fade"
  id="modal-report"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New report</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            name="example-text-input"
            placeholder="Your report name"
          />
        </div>
        <label class="form-label">Report type</label>
        <div class="form-selectgroup-boxes row mb-3">
          <div class="col-lg-6">
            <label class="form-selectgroup-item">
              <input
                type="radio"
                name="report-type"
                value="1"
                class="form-selectgroup-input"
                checked
              />
              <span
                class="form-selectgroup-label d-flex align-items-center p-3"
              >
                <span class="me-3">
                  <span class="form-selectgroup-check"></span>
                </span>
                <span class="form-selectgroup-label-content">
                  <span class="form-selectgroup-title strong mb-1">Simple</span>
                  <span class="d-block text-muted"
                    >Provide only basic data needed for the report</span
                  >
                </span>
              </span>
            </label>
          </div>
          <div class="col-lg-6">
            <label class="form-selectgroup-item">
              <input
                type="radio"
                name="report-type"
                value="1"
                class="form-selectgroup-input"
              />
              <span
                class="form-selectgroup-label d-flex align-items-center p-3"
              >
                <span class="me-3">
                  <span class="form-selectgroup-check"></span>
                </span>
                <span class="form-selectgroup-label-content">
                  <span class="form-selectgroup-title strong mb-1"
                    >Advanced</span
                  >
                  <span class="d-block text-muted"
                    >Insert charts and additional advanced analyses to be
                    inserted in the report</span
                  >
                </span>
              </span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="mb-3">
              <label class="form-label">Report url</label>
              <div class="input-group input-group-flat">
                <span class="input-group-text">
                  https://tabler.io/reports/
                </span>
                <input
                  type="text"
                  class="form-control ps-0"
                  value="report-01"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label">Visibility</label>
              <select class="form-select">
                <option value="1" selected>Private</option>
                <option value="2">Public</option>
                <option value="3">Hidden</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">Client name</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">Reporting period</label>
              <input type="date" class="form-control" />
            </div>
          </div>
          <div class="col-lg-12">
            <div>
              <label class="form-label">Additional information</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
          </svg>
          Create new report
        </a>
      </div>
    </div>
  </div>

      {% endblock main %}

