{% extends 'dashboard/base.html' %}

{% block main %}
<div class="main-panel">

    <div class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            {% block inner %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock main %}