{% extends "base.html" %}

{% block content %}

<div class="flex  p-6 ">
    <button onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
      </svg></button>
    <div></div>
</div>


<div class="mx-4">
    <img class="mx-auto object-cover max-h-screen rounded-lg max-w-screen rounded-lg " src="{{MEDIA_URL}}{{event.image}}">
</div>

<div class="relative my-7 max-w-4xl mx-auto">

    <!-- join button -->
        <div class="fixed bottom-2 right-2 m-4 md:right-4">
            {% if request.user not in event.attendees.all  %}
            <a href="/events/{{event.id}}/join/"
            class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true">
                <path
                    d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z" />
            </svg>
            Join
        </a>
        {% else %}
        <span class="ml-3">
            <a href="/events/{{event.id}}/leave/"
                class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path
                        d="M11 6a3 3 0 11-6 0 3 3 0 016 0zM14 17a6 6 0 00-12 0h12zM13 8a1 1 0 100 2h4a1 1 0 100-2h-4z" />
                </svg>
                Leave
            </a>
        </span>
        {% endif %}
        </div>
    <!-- end join button  -->

    <div class="mx-4 md:mx-0">
        <div class=" flex flex-wrap">
            <!-- start date -->
            <div class="mr-4">
                <p class="text-gray-500 text-sm">Start Date</p>
                <p class="font-semibold">{{event.date_time}}</p>
            </div>
            <!-- end date  -->

            <!-- start location -->
            <div class="mr-4">
                <p class="text-gray-500 text-sm">Location</p>
                <p class="font-semibold">{{event.location}}</p>
            </div>
            <!-- end location  -->
        </div>

        <!-- start divider -->
        <div class="relative flex py-4 items-center">
            <div class="flex-grow border-t border-gray-400"></div>
            <div class="flex-grow border-t border-gray-400"></div>
        </div>
        <!-- end divider -->

        <p class="font-semibold text-3xl">{{event.title}}</p>
        <div class="prose pb-7 md:pb-12">
            {{event.description|safe}}
        </div>

        {% if request.user.is_authenticated and request.user.is_staff %}
        <p class="my-4  text-base leading-relaxed dark:text-gray-400">
        There are {{event.attendees.all.count}} interested[s] and
                {{event.participants.all.count}} who joined
        </p>
        {% endif %}

        {% if request.user.is_staff %}
        <a href="/events/{{event.id}}/participate" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Add participants</a>
        {% endif %}

    </div>
</div>

{% endblock content %}