{% extends "base.html" %}


{% block content %}



<section id="initiatives" class="ud-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-section-title">
                    <span>Features</span>
                    <h1>
                        <div class="gradient">Coders (HQ)</div> Events
                    </h1>
                    <p>
                        From Hackathons to live events, Coders HQ has multiple initiatives that you can be part of
                    </p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F203426779%2F730363222533%2F1%2Foriginal.20211221-083047?w=800&auto=format%2Ccompress&q=75&sharp=10&rect=171%2C24%2C834%2C417&s=f500a8f1249eb7300984fe62a10431b6"
                        class="card-img-top" alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">E-Koders - Node JS (Session 4)</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal">More
                            Info</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Done</li>
                        <li class="list-group-item">Online</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F203426779%2F730363222533%2F1%2Foriginal.20211221-083047?w=800&auto=format%2Ccompress&q=75&sharp=10&rect=171%2C24%2C834%2C417&s=f500a8f1249eb7300984fe62a10431b6"
                        class="card-img-top" alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">E-Koders - Node JS (Session 5)</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <a href="#" class="card-link">More Info</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Done</li>
                        <li class="list-group-item">Online</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F203852209%2F730363222533%2F1%2Foriginal.20211222-083610?w=800&auto=format%2Ccompress&q=75&sharp=10&rect=11%2C0%2C8978%2C4489&s=c7bc22bd90839af2555554cac5d3814f"
                        class="card-img-top" alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Dubai Data Science x Coders HQ meet-up</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <a href="#" class="card-link">More Info</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Sat, Jan 29, 10:00 AM</li>
                        <li class="list-group-item">Emirates Towers, Dubai</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dubai Data Science x Coders HQ meet-up
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5
                        id="we-would-like-to-invite-you-to-attend-the-dubai-data-science-meet-up-that-will-be-hosted-in-coders-hq-">
                        We would like to invite you to attend the Dubai Data Science meet-up that will be hosted in
                        Coders HQ.</h5>
                    <p>About this event</p>
                    <h5 id="registration-link-">Registration link:</h5>
                    <p><a href="https://forms.gle/8th2ShuvzaJtdA7U9">https://forms.gle/8th2ShuvzaJtdA7U9</a></p>
                    <p>Please note that there are limited slots (15), please fill the form above to confirm your
                        attendance.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
            </div>
        </div>
    </div>




</section>



{% endblock content %}