{% extends "base.html" %}

{% block navigation %}
{% include "pages/nav_dark.html" %}
{% endblock navigation %}


{% block content %}


<section id="initiatives" class="ud-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-section-title">
                    <span>Features</span>
                    <h1>
                        <div class="gradient">Coders (HQ)</div> Events
                    </h1>
                    <p>
                        From Hackathons to live events, Coders HQ has multiple initiatives that you can be part of.
                    </p>
                </div>
            </div>
        </div>
        <div class="row row-cols-md-3 g-4">


            {% if events %}

            {% for event in events %}

            <div class="col">
                <div class="card h-100">
                    <img src=" {{MEDIA_URL}}{{event.image}}" class="card-img-top" alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">{{event.title}}
                        </h5>

                        {% if event.joined %}
                        <h6 class="card-subtitle mb-2 text-muted">
                            (Joined)
                        </h6>
                        {% endif %}

                        <div class="card-text">
                            {{event.short_description}}
                        </div>
                        <a href="#" class="card-link" data-bs-toggle="modal"
                            data-bs-target="#modal-{{ forloop.counter }}">More
                            Info</a>

                        {% if request.user.is_authenticated and not event.joined %}
                        <a href="/events/{{event.id}}/join" class="card-link">Join</a>
                        {% else %}
                        <a href="/events/{{event.id}}/leave" class="card-link">Leave</a>
                        {% endif %}

                        {% if request.user.is_staff %}
                        <a href="/events/{{event.id}}/participate" class="card-link">Participate</a>
                        {% endif %}

                    </div>
                    <ul class="list-group list-group-flush">

                        {% if event.is_over %}
                        <li class="list-group-item text-danger"> {{event.date_time}} </li>
                        {% else %}
                        <li class="list-group-item">{{event.date_time}} </li>
                        {% endif %}

                        <li class="list-group-item">{{event.event_location}}</li>

                        {% if request.user.is_authenticated and request.user.is_staff %}
                        <li class="list-group-item">There are {{event.attendees.all.count}} attendee[s]</li>
                        {% endif %}

                    </ul>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{event.title}}

                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{event.description|safe}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>



                            {% if request.user.is_authenticated and not event.joined %}
                            <a class="btn btn-primary" href="/events/{{event.id}}/join">Join</a>
                            {% else %}
                            <a class="btn btn-primary" href="/events/{{event.id}}/leave">Leave</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% endif %}

        </div>
    </div>


</section>
{% endblock content %}