{% extends "base.html" %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h4>{{event.title}}</h4>
            <form action="" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/events/{{event.id}}/download">Download</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}