{% load static i18n compress%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Coders Headquarters{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CodersHQ source code">
  <meta name="author" content="Rashed Al Suwaidi">

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}

  <link href="{% static 'css/project.css' %}" rel="stylesheet">
  <link href="{% static 'css/codershq.css' %}" rel="stylesheet">
  <!-- Your stuff: Third-party CSS libraries go here -->
  {% compress css %}
  <!-- This file stores project-specific CSS -->

  <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
  {% endcompress %}
  {% endblock %}
  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}

  <!-- Vendor dependencies bundled as one file-->
  {% compress js %}
  <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
  <script defer src="{% static 'js/vendors.js' %}"></script>
  <script defer src="{% static 'js/project.js' %}"></script>
  {% endcompress %}


  <!-- place project specific Javascript in this file -->
  {% compress js %}
  <script defer src="{% static 'js/project.js' %}"></script>
  {% endcompress %}

  {% endblock javascript %}

</head>

<body>



  {% block content %}
  <p>Use this document as a way to quick start any new project.</p>
  {% endblock content %}

  {% block modal %}{% endblock modal %}

  {% block inline_javascript %}
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}
</body>

</html>