{% extends "base.html" %}

{% load static %}

{% block title %}Page not found{% endblock %}

{% block content %}
    <div class="flex-fill d-flex align-items-center justify-content-center">
        <div class="container-tight py-6">
            <div class="empty">
                <div class="empty-img"><img src="{%  static 'images/svgs/undraw_quitting_time_dm8t.svg' %}" height="128"
                        alt="">
                </div>
                <p class="empty-title">This page is under construction</p>
                <p class="empty-subtitle text-muted">
                    Sorry for the inconvenience but this page is still under construction and it should be up soon. Come back at a later date and hopefully it should be ready.
                </p>
                <div class="empty-action">
                    <a href="../." class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="5" y1="12" x2="11" y2="18" />
                            <line x1="5" y1="12" x2="11" y2="6" />
                        </svg>
                        Take me home
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}