{% extends "base.html" %}

{% load static %}

{% block title %}Page not found{% endblock %}

{% block content %}
    <!-- ====== Banner Start ====== -->
    <section class="ud-construction-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-construction-banner-content">
              <h1>Under Construction</h1>
              <img src="{% static 'images/construction/construction.svg' %}" alt="teamwork-image" />
              <p>We appreciate your enthuasiasm, you can help us with finishing faster by contributing to the listed issues.</p>
              <p id="issuesCount">coders(<span style="color: #FFFF00">hq</span>) currently has </p>
              <a class="ud-construction-btn" href="{% url 'account_logout' %}">
                Sign Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    <!--
      TODO: Create a card component for .ud-single-issue



    -->

    <!-- ====== Issues Start ====== -->
    <section class="ud-issue-grid">
      <div class="container">
        <div class="row" id="issuesGrid">
        </div>
      </div>
    </section>
    <!-- ====== Blog End ====== -->

{% endblock content %}

