<div id="education"
  class="bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 m-2">
  <form action="#" method="POST">
    {% csrf_token %}
    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:p-8">
        <h3 class="text-xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate mb-3">
          Job Profile
        </h3>

        <!--job container-->
          <div class="grid grid-cols-6 gap-6 p-4">
            <div class="col-span-6 sm:col-span-3">
              <label for="job" class="block text-sm font-medium text-gray-700">Job Status</label>
              <input type="text" name="job" id="job" autocomplete="given-name"
                class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="rate" class="block text-sm font-medium text-gray-700">Hourly Rate</label>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"> AED </span>
                <input type="text" name="rate" id="rate" class="focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300">
              </div>
            </div>

          </div>

        </div>
      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <button type="submit"
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Save</button>
      </div>
    </div>
  </form>
</div>