{% extends "base_without_dashboard.html" %}
{% load i18n static %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-12 w-auto" src="{% static 'images/logo/CHQ-Invert.png' %}" alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            {% block large_text %}
            {% endblock large_text %}
        </h2>
      </div>

      {% block inner %}{% endblock %}

    </div>
</div>
  
  
    
 
{% endblock %}
