{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block inner %}


{% get_providers as socialaccount_providers %}

<form class="mt-8 space-y-6" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="flex items-center justify-between">
    <div class="text-sm">
      <a href="{% url 'account_signup' %}" class="font-medium text-indigo-600 hover:text-indigo-500"> Create an account </a>
    </div>
  <div class="text-sm">
    <a href="{% url 'account_reset_password' %}" class="font-medium text-indigo-600 hover:text-indigo-500"> Forgot your password? </a>
  </div>

  </div>

  <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
      <!-- Heroicon name: solid/lock-closed -->
      <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
      </svg>
    </span>
    Sign in
  </button>
</form>


{% endblock %}


{% block header %}
<div>
  <h2 class="mt-6 mb-4 text-3xl tracking-tight font-bold text-gray-900">
    Sign in to your account
  </h2>
  <p class="text-sm text-gray-500 my-2 pb-2">
      Find out everything you need to know about CodersHQ
  </p>
  <a href="https://ai.gov.ae/hqast/" class="text-gray-900 mt-4 w-full text-center block bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-md text-sm px-5 py-2 mr-2 -mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
    Learn More
  </a>
</div>

<div class=" flex py-2 items-center">
  <div class="flex-grow border-t border-gray-400"></div>
  <span class="flex-shrink mx-4 text-gray-400 text-sm">or</span>
  <div class="flex-grow border-t border-gray-400"></div>
</div>
{% endblock %}