{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block inner %}


{% get_providers as socialaccount_providers %}

<div class="card p-4">
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
  <br>

  <button class="primaryAction btn btn-primary btn-block my-3" style="width: 100%;" type="submit">{% translate "Sign In" %}</button>
</form>

<div>
  Dont have an account? 
  <a href="{% url 'account_signup' %}">Create One</a>
</div>
</div>
{% endblock %}
