{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block large_text %}Forgot password{% endblock %}

{% block inner %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
      <form class="mt-8 space-y-6" action="{% url 'account_reset_password' %}" method="POST">
          <p class="font-medium mb-4">Enter your email address and your password will be reset and emailed to you.</p>
          {% csrf_token %}
          {{ form|crispy }}

          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
            </span>
            Send me new password
          </button>
      </form>

        <div class="text-sm">
          <p>Forget it, <a href="{{ login_url }}" class="font-medium text-indigo-600 hover:text-indigo-500"> send me back</a> to the sign in screen.</p>
        </div>

{% endblock %}
