<style>
body {
   Overflow-y:scroll; //add vertical bar option in html
}
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #4B0082;
  border-style: solid;
  padding: 3px;

}

table.GeneratedTable thead {
  background-color: #FFFFFF;
}


</style>

<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
<table class="GeneratedTable">

  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Social Accounts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rashed Alsuwaidi</td>
      <td>
        UI/UX Design <br>
        Project Management<br>
        Infrastructure <br>
        Maintenance<br>
        Packaging and Research</td>
      <td>
         <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    <tr>
      <td>Alshouq Alhammadi</td>
      <td>UI/UX Design <br>
        Intern<br>
      </td>
      <td>
   <a href="www.linkedin.com/in/alshouq-alhammadi-8b2988224" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    </tr>
    <tr>
      <td>C1</td>
      <td>Bug Reports <br>
      Packaging</td>
      <td><a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    <tr>
      <td>C2</td>
      <td>Bug Reports <br>
      Packaging</td>
      <td><a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    <tr>
      <td>C3</td>
      <td>Bug Reports <br>
      Packaging</td>
      <td><a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    <tr>
      <td>C4</td>
      <td>Bug Reports <br>
      Packaging</td>
      <td><a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    <tr>
      <td>C5</td>
      <td>Bug Reports <br>
      Packaging</td>
      <td><a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    <tr>
      <td>C6</td>
      <td>Bug Reports <br>
      Packaging</td>
      <td><a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    <tr>
      <td>C7</td>
      <td>Bug Reports <br>
      Packaging</td>
      <td><a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>
    <tr>
      <td>C8</td>
      <td>Bug Reports <br>
      Packaging</td>
      <td><a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp
        <a href="#" class="fa fa-git"></a>
      &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a></td>
    </tr>

  </tbody>