<!-- ====Contributors Start==== -->
    <div class="align-center items-center bg-transparent shadow-md sm:p-1 dark:bg-idigo-200 dark:border-transparent">
            <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="ud-section-title mx-auto text-center">
                      <span>Contributors</span>
                      <h2>Meet Our Great Team!!</h2>
                    </div>
                  </div>
                </div>
                <br>
                <div class="ud-about-content p-5 w-full" style="max-width: none !important;">
                   <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="ud-single-contributor wow fadeInUp" data-wow-delay=".1s"> 
                          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                              <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                     &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                    </p>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                      Name
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                   <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                     Role
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                     Social
                                    </p>
                                  </div>
                                </div>
                              </li>
                              <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/22400032?v=4" alt="Rashed Suwaidi"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     Rashed Suwaidi
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code<br>
                                    UI/UX Design <br>
                                    Project Management<br>
                                    Infrastructure <br>
                                    Maintenance<br> 
                                    Packaging and Research
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  
                                      <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                                <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/34681035?v=4" alt="Abdulrahman Alblooshi"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Abdulrahman Alblooshi
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                   Code<br>
                                   UI/UX Design
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/77554371?v=4" alt="Abdulkarim Suleiman"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Abdulkarim Suleiman
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                     <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Content Creator
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                              <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/6482739?v=4" alt="Musab"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Musab
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code <br>
                                    Bug Reports <br>
                                    Packaging  
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                              <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/69077626?v=4" alt="Arsal"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     Arsal
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code <br>
                                    Plugin
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/59332297?v=4" alt="Derpysmurf"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     DerpySmurf
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code <br>
                                    UI/UX Design
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="https://github.com/DerpySmurf" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/74138203?v=4" alt="Hara Ali"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Haral Ali
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Project Management
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                              <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/14121077?v=4" alt="Kajal Doshi"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Kajal Doshi
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code <br>
                                    Infrastructure
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/69520097?v=4" alt="Khushboo Gehi">
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     Khushboo Gehi
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Project Management
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                              </li>
                          </ul>
                    </div>
                </div>
                
<!-- ======= Contributors End  ====== -->