    <div class="align-center items-center bg-transparent shadow-md sm:p-1 dark:bg-idigo-200 dark:border-transparent">
            <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="ud-section-title mx-auto text-center">
                      <span>Contributors</span>
                      <h2>Meet Our Great Team!!</h2>
                    </div>
                  </div>
                </div>
                <br>
                <div class="ud-about-content p-5 w-full" style="max-width: none !important;">
                   <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="ud-single-contributor wow fadeInUp" data-wow-delay=".1s"> 
                          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                              <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                   <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     Photo
                                    </p>
                                  <div class="flex-1 min-w-0">
                                     <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     #
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                      Name
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     Role
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     Social
                                    </p>
                                  </div>
                                </div>
                              </li>
                              <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/22400032?v=4" alt="image"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     1
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     Rashed Suwaidi
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code<br>
                                    UI/UX Design <br>
                                    Project Management<br>
                                    Infrastructure <br>
                                    Maintenance<br> 
                                    Packaging and Research
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  
                                      <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                                <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="image"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      2
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Abdulrahman Alblooshi
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                   Code<br>
                                   UI/UX Design
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="Thomas image"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                   <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      3
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Abdulkarim Suleiman
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                     <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Content Creator
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                              <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="Thomas image"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      4
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Musab
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code <br>
                                    Bug Reports <br>
                                    Packaging  
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="Thomas image"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      5
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     DerpySmurf
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code <br>
                                    UI/UX Design
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="pt-3 pb-0 sm:pt-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="Thomas image"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      6
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      haralali
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Project Management
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                              <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="image"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      7
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Kajal Doshi
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code <br>
                                    Infrastructure
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="image"/>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                   <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      8
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      Kaz
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Code <br>
                                    Bug Reports <br>
                                    Packaging  
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                                </div>
                              </li>
                               <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                  <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="image">
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                      9
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                     Khushboo Gehi
                                    </p>
                                  </div>
                                  <div class="flex-1 min-w-0">
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Project Management
                                    </p>
                                  </div>
                                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                      <a href="#" class="fa fa-linkedin"></a>&nbsp &nbsp  <a href="#" class="fa fa-git"></a>
                                    &nbsp &nbsp  <a href="#" class="fa fa-gitlab"></a>
                                  </div>
                              </li>
                          </ul>
                    </div>
                </div>
                