<div class="prose border border-gray-200 rounded-md p-4 min-w-full">

<h2 id="information">Welcome to Coders HQ</h2>
<p>Coders HQ is a physical space, a web platform and a community first project. Our mission to empower programmers no matter where you are from and what your background is.</p>
<p>There are multiple ways to contribute to coders HQ. Have a look at our notion page to find out more!</p>
<p>Coders HQ is made up of three major parts</p>
<ul>
<li>The Physical space (Emirates Towers)</li>
<li>The Community (discord)</li>
<li>The Platform (Open Source Web App)</li>
</ul>
<p>The platform started a while ago and now is at a stage to accept contributions from the community. We really need your help to grow so if you are interested to join and become a contributor then make your first PR at
<a href="https://github.com/Coders-HQ/CodersHQ">the GitHub</a></p>
<h3 id="what-is-the-platform-">What is the platform?</h3>
<p>The platform is an open source django based web app. It is something between kaggle and linkedin but with our very own unique twist. The current major features we are implementing are as follows</p>
<ul>
<li>Challenges: kaggle style competition</li>
<li>Events: already started and will be integrated into the platform</li>
<li>Scoring: Score coders based on multiple different categories</li>
<li>Chat: to meet people on the platform and create teams</li>
<li>Hackathons: similar to challenges but short in duration and much more explosive</li>
<li>Dashboard: connect and subscribe to different events and services on the platform </li>
</ul>
<p>Head over to our <a href="https://coders-hq.github.io/CodersHQ">docs</a> to find out more.</p>
<h3 id="we-will-make-our-own-coin-">We will make our own Coin!</h3>
<p>We are planning to launch our very own currency which ties in with the rest of the platform. The idea is to have the currency integrate with the platform and automatically gives rewards based on contribution, participation and completion of different events and challenges. These rewards can later be cashed into a marketplace</p>
<p>This is still under research so please chime in and help us build it!</p>
<h3 id="we-are-at-alpha-stage-">We are at alpha stage?</h3>
<p>We wanted to release the platform as soon as possible and allow the community to join and help the platform grow. We realise that this means bugs but and in the spirit of open source, help us squash them.</p>
<h3 id="why-django-and-not-x-">Why Django and not X?</h3>
<blockquote>
<p>If its good enough for Spotify then its good enough for us</p>
</blockquote>
<p>There is a hundred ways to skin a cat and we had to decide on one. Django is well tested and has been proven to work. We followed the best practices and used an easy to build and test structure</p>
<h3 id="how-to-contribute-">How to contribute?</h3>
<p>Have a look at our <a href="https://suwaidi.notion.site/Coders-HQ-ae1356125bdc4b36b2b5b1973d09d609">notion page</a>. Its a great way to familiarize yourself with the current state of CHQ. </p>
<p>If you are interested in the code then the docs would be a useful starting point. If you find anything that you think can be done better than please create an issue or make a PR to solve an existing one. Its that simple!</p>
<h3 id="want-to-be-a-maintainer-">Want to be a maintainer?</h3>
<p>We are looking for maintainers to help us improve Coders HQ fast, if you are excited about the project and are willing to have a bigger impact then please send me or the other Mods a DM</p>
<h3>Additional questions?</h3>
<p>Send any additional questions to the admins or mods at our <a href="https://discord.gg/CPQHAZrg8b">discord</a></p>

<div>