<div class="prose border border-gray-200 rounded-md p-4 min-w-full">
    <h2 id="information">Welcome to Coders HQ</h2>
    <p>Coders HQ is a physical space, a web platform and a community first project. Our mission to empower programmers no matter where you are from and what your background is.</p>
    <p>There are multiple ways to get involved and contribute. Have a look at our <a href="https://suwaidi.notion.site/Coders-HQ-ae1356125bdc4b36b2b5b1973d09d609"> notion page</a> to find out more!</p>
    <p>Coders HQ is made up of three major parts</p>
    <ul>
    <li>The Physical space (Emirates Towers)</li>
    <li>The <a href="https://discord.gg/CPQHAZrg8b">Community</a> (Discord)</li>
    <li>The <a href="https://assessment.codershq.ae">Platform</a> (Open Source Web App)</li>
    </ul>
    <p>The platform started a while ago and now is at a stage to accept contributions from the community. We really need your help to grow so if you are interested to join and become a contributor then make your first PR at
    <a href="https://github.com/Coders-HQ/CodersHQ">our GitHub project</a></p>
    <h3 id="what-is-the-platform-">What is the platform?</h3>
    <p>The platform is an open source django based web app. It is something between kaggle and linkedin but with our very own unique twist. The current major features we are implementing are as follows</p>
    <ul>
    <li><strong>Challenge</strong>: kaggle style competition</li>
    <li><strong>Events</strong>: already started and is being integrated into the platform</li>
    <li><strong>Analytics</strong>: Score coders based on multiple different categories</li>
    <li><strong>Portfolio</strong>: one stop shop for member portfolios and employers looking for skills </li>
    <li>and <a href="https://coders-hq.github.io/CodersHQ/features.html">so much more!</a> </li>
    </ul>
    <p>These features are in different stages of development with different teams working on them. Head over to our <a href="https://coders-hq.github.io/CodersHQ">docs</a> to find out more.</p>
</div>

<!-- start progress bar -->
<div class="grid grid-cols-2 gap-2 md:grid-cols-4 md:gap-4 my-4">

    <div class="border border-gray-200 rounded-md p-4">
        <div class="flex justify-between mb-1">
            <span class="text-base font-medium text-blue-700 dark:text-white">Challenge</span>
            <span class="text-sm font-medium text-blue-700 dark:text-white">20%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 20%"></div>
        </div>
    </div>

    <div class="border border-gray-200 rounded-md p-4">
        <div class="flex justify-between mb-1">
            <span class="text-base font-medium text-blue-700 dark:text-white">Events</span>
            <span class="text-sm font-medium text-blue-700 dark:text-white">70%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 70%"></div>
        </div>
    </div>

    <div class="border border-gray-200 rounded-md p-4">
        <div class="flex justify-between mb-1">
            <span class="text-base font-medium text-blue-700 dark:text-white">Analytics</span>
            <span class="text-sm font-medium text-blue-700 dark:text-white">10%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 10%"></div>
        </div>
    </div>

    <div class="border border-gray-200 rounded-md p-4">
        <div class="flex justify-between mb-1">
            <span class="text-base font-medium text-blue-700 dark:text-white"><a href="#">Portfolio</a></span>
            <span class="text-sm font-medium text-blue-700 dark:text-white">15%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 15%"></div>
        </div>
    </div>

</div>
<!-- end progress bar -->


<div class="prose border border-gray-200 rounded-md p-4 min-w-full">
    <h3 id="we-will-make-our-own-coin-">We will make our own Coin!</h3>
    <p>We are planning to launch our very own currency which ties in with the rest of the platform. The idea is to have the currency integrate with the platform and automatically gives rewards based on contribution, participation and completion of different events and challenges. These rewards can later be cashed into a marketplace</p>
    <p>This is still under research so please chime in and help us build it!</p>
    <h3 id="we-are-at-alpha-stage-">We are at alpha stage</h3>
    <p>We wanted to release the platform as soon as possible and allow the community to join and help the platform grow. We realise that this means bugs but and in the spirit of open source, help us squash them.</p>
    <h3 id="why-django-and-not-x-">Why Django and not X?</h3>
    <blockquote>
    <p>If its good enough for Spotify then its good enough for us</p>
    </blockquote>
    <p>There is a hundred ways to skin a cat and we had to decide on one. Django is well tested and has been proven to work. We followed the best practices and used an easy to build and test structure</p>
    <h3 id="how-to-contribute-">How to contribute?</h3>
    <p>Have a look at our <a href="https://suwaidi.notion.site/Coders-HQ-ae1356125bdc4b36b2b5b1973d09d609">notion page</a>. Its a great way to familiarize yourself with the current state of CHQ. </p>
    <p>If you are interested in the code then the <a href="https://coders-hq.github.io/CodersHQ">docs</a> would be a useful starting point. If you find anything that you think can be done better than please create an issue or make a PR to solve an existing one. Its that simple!</p>
    <h3 id="want-to-be-a-maintainer-">Want to be a maintainer?</h3>
    <p>We are looking for maintainers to help us improve Coders HQ fast, if you are excited about the project and are willing to have a bigger impact then please send one of the Admins or Mods a DM</p>
    <h3>Additional questions?</h3>
    <p>Send any additional questions to the admins or mods at our <a href="https://discord.gg/CPQHAZrg8b">discord</a> and we would be happy to help out</p>
</div>
