{% extends "base.html" %}
{% load static compress%}


{% block navigation %}
<!-- {% include "pages/nav_dark.html" %} -->
{% endblock navigation %}

{% block content %}



<div class="card text-center" >
  <div class="card-header">

  </div>
  <div class="card-body">
    <br>
    <h1 class="card-title">Coming Soon</h1>
    <a href="https://ai.gov.ae/chq/#Register " type="button" class="btn btn-dark mt-5">Register Your Interest</a><br >
    <br>
    <p class="card-text">We will notify you when the registration starts. Stay tuned!</p>

  </div>
  <div class="card-footer text-muted">
    2 days to go
  </div>
</div>
{% endblock content %}
