{% load static %}
 <nav class="flex flex-row bg-indigo-900 border-white-200 px-1 sm:px-2 py-1.5 rounded dark:bg-white-800">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="#" class="flex items-center">
       <svg version="1.1" class="flex flex-wrap justify-between items-center mx-auto" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width=180px height=75px viewBox="0 0 200 70" xml:space="preserve">  
        <image id="image0" class="mr-3 h-6 sm:h-9" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXIAAACKCAYAAAC3ksHJAAAYdmlDQ1BpY2MAAFiFlXkHWFQ703/O
9l36Lr33DtJ77713EIGlLU1YqoAiiChFEURAUFREqoqKAiqCIBYUpXhBREQQKSoKqKBS5DsUvfe9
7//5f8+XfXLy28lkJplkksw5AHCN+EZGhiEYAQiPiKE6mBrwu7l78GOnAAL+YQA94PclR0fq29lZ
ATj9Lv8zLQ0CaKN8LrMh67/r/7+J6B8QTQYA8oKxn380ORzGdwFAnSJHUmMAwGzQheJjIjfwfhgz
U+EOwrhgAwdt4eoN7LeFWzZ5nBwMYdwLAI7W15caBAD9CEznjyMHwXLoV+E6YoQ/JQIAFnjkGB1y
sK8/AFx2MI90ePjuDZwMY3GYPxLGFTBW8/uHzKD/kO/3R76vb9AfvDWuzYQzokRHhvnu+T+a5n9P
4WGxv3WIwpk2mGrmsDF+2IZDobstNzAtjGcj/GxsN2wN4x8U/y27A4AgBMeaOW/xI7jJ0Yaw/QAr
jOX8fY0sYcwNY5OIMBurbbpfIMXEHMawzRAJlBhzJxizw/hwQLSx4zbPWepuh21diMZAqqH+Nv2R
L3VT74au0dhQZ/1t+V+CA8y35SPpE4OdXGFMgLFwHMXFBsb0MJaNDnW03ObRSgw2tPnNQ4112Oi/
MIwdAiJMDbbkI+MCqSYO2/xZ4dG/x4s8G0wxt9nG12KCncy27IPsJPtu9h8eC7I3IELf+becgGg3
q99j8Q8wMt4aO3ImIMLZcVvOj8gYA4ettihCZJjdNj9KMCDMdIMuCGOl6DjH7bYolxh4cW7JRwVG
xtg5bfUTlRjia2G31R/UMWAFDIER4AexcPYDu0EIoDybbZqF/23VmABfQAVBIADIbFN+t3DdrImA
n44gEXyCUQCI/tPOYLM2AMTB9LU/1K2nDAjcrI3bbBEKpmAcDixBGPw/drNVxB9tLuAdTKH8l3Zf
OJPh/obBeaP+/03/Tf2bog9TrLYpsb818jP85sQYY4wwZhgTjASKE6WD0kRZwU89OCug1FDqv8fx
Nz96Ct2HfoseQI+hX+6ipFH/1UtrMAbLN9m2hd8/bYEShWUqowxQ2rB0WDKKFcUJZFBKsB59lC6s
WRmmGm73e8Mq/P+S/R8j+MdsbPPh5fAIPBteDy/+75b0kvTKf6Rs2Pqf9tnqq98fexv+qfm3fsN/
WN8fLi3/zYk8jGxAPkS2I7uQLcgmwI9sQzYju5F3NvCf1fVuc3X91uaw2Z9QWA7lv/T5buvcsGS0
XJ3ce7nVrbqYgISYDccz3B25h0oJCo7h14dPhwB+8wiyrDS/gpyCAgAbZ83W9vXVYfMMgVh7/qaR
DwKgOg8AfvlvWvhXAK7Avs9v/TdNxBt2PwwA1VPkWGrcFg218UDDuwQD7GkcgBcIAXF4PApABWgC
PWAMLIAtcALuwBu2cjC8zqkgHiSDVJABssExcAKUgDPgPKgGl8A10ARaQDt4AJ6AXjAAXsGrZxJ8
BPNgCaxAEISF6CASxAHxQSKQFKQAqUE6kDFkBTlA7pAPFARFQLFQMnQAyobyoRLoHFQDXYVuQu1Q
F9QHvYTGoffQF2gZgUTQIpgRPAhRxA6EGkIfYYlwQuxEBCGiEImIdMRRRDGiHHER0YhoRzxBDCDG
EB8Ri0iApEGyIgWQMkg1pCHSFumBDERSkfuQWchCZDnyMvIWPM/PkWPIWeRPFAZFQvGjZOAVbIZy
RpFRUah9qBxUCaoa1YjqRD1HjaPmUb/QdGhutBRaA22OdkMHoePRGehCdCX6Bvo+7EuT6CUMBsOK
EcOowr7ojgnBJGFyMKcx9Zi7mD7MBGYRi8VyYKWw2lhbrC82BpuBPYm9iG3D9mMnsT9wNDg+nALO
BOeBi8Cl4QpxtbhWXD9uGreCZ8SL4DXwtnh//B58Lr4Cfwvfg5/ErxCYCGIEbYITIYSQSigmXCbc
J4wQvtLQ0AjSqNPY01Bo9tMU01yheUQzTvOTlkgrSWtI60UbS3uUtor2Lu1L2q90dHSidHp0HnQx
dEfpauju0Y3S/aAn0cvSm9P706fQl9I30vfTf2bAM4gw6DN4MyQyFDI0MPQwzDLiGUUZDRl9Gfcx
ljLeZHzBuMhEYpJnsmUKZ8phqmXqYpohYomiRGOiPzGdeJ54jzhBQpKESIYkMukAqYJ0nzTJjGEW
YzZnDmHOZr7E/Ix5noXIosTiwpLAUspyh2WMFckqymrOGsaay3qNdZB1mY2HTZ8tgC2T7TJbP9t3
di52PfYA9iz2evYB9mUOfg5jjlCOPI4mjtecKE5JTnvOeM4yzvucs1zMXJpcZK4srmtcw9wIbklu
B+4k7vPc3dyLPLw8pjyRPCd57vHM8rLy6vGG8BbwtvK+5yPx6fBR+Ar42vg+8LPw6/OH8Rfzd/LP
C3ALmAnECpwTeCawIigm6CyYJlgv+FqIIKQmFChUINQhNC/MJ2wtnCxcJzwsghdREwkWKRJ5KPJd
VEzUVfSQaJPojBi7mLlYolid2Ig4nbiueJR4ufhfEhgJNYlQidMSvZIISWXJYMlSyR4phJSKFEXq
tFSfNFpaXTpCulz6hQytjL5MnEydzLgsq6yVbJpsk+znHcI7PHbk7Xi445ecslyYXIXcK3mivIV8
mvwt+S8KkgpkhVKFvxTpFE0UUxSbFReUpJQClMqUhpRJytbKh5Q7lNdUVFWoKpdV3qsKq/qonlJ9
ocasZqeWo/ZIHa1uoJ6i3qL+U0NFI0bjmsacpoxmqGat5oyWmFaAVoXWhLagtq/2Oe0xHX4dH52z
OmO6Arq+uuW6b/WE9Pz1KvWm9SX0Q/Qv6n82kDOgGtww+G6oYbjX8K4R0sjUKMvomTHR2Nm4xHjU
RNAkyKTOZN5U2TTJ9K4Z2szSLM/shTmPOdm8xnzeQtVir0WnJa2lo2WJ5VsrSSuq1S1rhLWF9XHr
ERsRmwibJltga2573Pa1nZhdlN1te4y9nX2p/ZSDvEOyw0NHkuMux1rHJScDp1ynV87izrHOHS4M
Ll4uNS7fXY1c813H3Ha47XV74s7pTnFv9sB6uHhUeix6Gnue8Jz0UvbK8BrcKbYzYWeXN6d3mPed
XQy7fHc1+KB9XH1qfVZ9bX3LfRf9zP1O+c2TDclF5I/+ev4F/u8DtAPyA6YDtQPzA2eCtIOOB70P
1g0uDJ6lGFJKKAshZiFnQr6H2oZWha6HuYbVh+PCfcJvRhAjQiM6d/PuTtjdFykVmRE5FqURdSJq
nmpJrYyGondGN8cww5f67ljx2IOx43E6caVxP+Jd4hsSmBIiErr3SO7J3DOdaJJ4IQmVRE7qSBZI
Tk0e36u/99w+aJ/fvo4UoZT0lMn9pvurUwmpoalP0+TS8tO+HXA9cCudJ31/+sRB04N1GfQZ1IwX
hzQPnTmMOkw5/CxTMfNk5q8s/6zH2XLZhdmrOeScx0fkjxQfWT8aePRZrkpu2THMsYhjg3m6edX5
TPmJ+RPHrY83FvAXZBV8O7HrRFehUuGZIkJRbNFYsVVx80nhk8dOrpYElwyUGpTWn+I+lXnq+2n/
0/1lemWXz/CcyT6zfJZyduic6bnGctHywvOY83HnpypcKh5eULtQU8lZmV25VhVRNVbtUN1Zo1pT
U8tdm1uHqIute3/R62LvJaNLzZdlLp+rZ63PvgKuxF75cNXn6uA1y2sdDWoNl6+LXD91g3QjqxFq
3NM43xTcNNbs3tx30+Jmxy3NWzduy96uahFoKb3Dcie3ldCa3rrelti2eDfy7mx7UPtEx66OV/fc
7v3Vad/57L7l/UcPTB7ce6j/sO2R9qOWLo2um4/VHjc9UXnS2K3cfeOp8tMbz1SeNfao9jT3qvfe
6tPqa+3X7W9/bvT8wV/mfz0ZsBnoG3QeHHrh9WJsyH9o5mXYy4XhuOGVV/tH0CNZrxlfF45yj5a/
kXhTP6YydmfcaLz7rePbVxPkiY/vot+tTqZP0U0VTvNN18wozLS8N3nf+8Hzw+THyI8rsxmfmD6d
+iz++fqc3lz3vNv85AJ1Yf1LzleOr1XflL51LNotji6FL618z/rB8aP6p9rPh8uuy9Mr8avY1eI1
ibVbvyx/jayHr69H+lJ9N68CSDgjAgMB+FIFAJ07ACQ4biN4bsWC2wkJXz4QcOkCyUIfEenwidqD
ykCbYJCYJ9hiXATeiiBBg6WZpe2na6KvYqhkrGdqJnaQnjD3sgyxvmGbYf/IscC5zLXGg+DF8hH4
6QSIgkQhVmF2ETZRdjFucR4Jfkl+KUFpYRlRWbEd0nJy8ooKKooaSrrKxirmquZqJuomGiaahlr6
2lo6GrpKerL6ogY8hsxGBKN1468mU6YvzbrNWyyqLY9bpViH2LjZGtsp24s5cDkyOuGckS6QK8IN
5Y73YPTk8BLeKeMtsUvYh8+X04+FTPInBpACWYO4ggUp0iGqoSZhLuGUiOTd+ZEVUWepxdF5MTmx
mXFZ8UcTivdUJ7YmvdoL9kmn7Np/MvXVAcH03QfbD2EOC2UqZBlkO+YEHkk8mpdbfexu3nD+YgHT
CZlCi6LA4gMny0pulvafend68Qz2LMc5yXKt87YVfhdiKg9WFVZX19ysfVw3fPHDpZ/1uCtsV8Wv
6Ta4X4+6kdl4uqm+ue1m162e270tT+50tF5tK72b0r6rQ+Me8d5U5837tQ9OPcx+lNDl99j8iWw3
fffs0/vPTvVE9hr0kfom+q89T/3LfkBkEDX4/kX3UP3L/OGYVy4jaq85X6+Ojr5pH7swnvl294Tz
O61JYXiVLU3/NXP9fdGHlI9hs+RP5M+Rc9nzNxbmvup9O7dE+l78U2r52WrKL4319X/MvwJyBpWP
tsSwYF5jG3A5+CCCEY0kLQPtKt00/RDDEOMbpnfET6SvzEssa6wrbGvsvzjWOJe4vnLP8UzxjvD1
898XuClYKZQtHCZiJSophhf7IN4lUSOZJUWRtpSRkaWTndvRJ3ddvkghWZGsZK9soKKgKqBGVFtX
/6wxotml1ahdrpOjG6/no29hoGDIaYQwem/8zOSKaZ5ZtLmThYolm+WK1Rvreza1tnl2SfaBDo6O
+k7yzgIuJFes67LbR/cRj27PO171O896H991yCfZl+pHIfv6ewQ4BdoH2QRbUixDzEI1w2TDBSJY
dtNEIiJXo35Qf0avxaLjiPFCCRp7nBKjkwqTW/ZOpdDs50uVSdM+YJPudzA+48ihysNtmcNZ33OY
jygctc+NOHYkry7/0fF3BeuFnEXKxXYnQ0sOlp451Xy6t2zmzK9zzOUS57Ur7C6QK2OrDlUXw/tc
d93cJeJlxXrHK1FXc6/VNXReH7nxpQnTzHFT8pbGbYsWtzuBrTFtKXdT2w90HLyX0Xno/uEHWQ9z
Hh3pOvL4yJMj3TlPs59l9hzqTe9L7d/7PO6vqIHdg5EvYoaSXh4cPv6qfKTh9YPRl28+jYO3xAnB
d/KTOlPm034zZ99/+qg8m/Sp9fOvec2FuC+Xv75bZF+y/J7yo+Hn9Ar3qsNa1q/O7fk3RugjdyA/
o9rRhzCOWHHsAu4mPoPgQMNNM0p7ni6cXp0BwdDOmM5kQWQg9pKOMduyMLA8Zc1iM2GH2Js5IjiF
OIe4srl1uD/xlPKa8X7jK+M34/8sUCCoITgitFeYX7hVxFtkVbRYTEmsWzxAfFXiuKSUZJuUo9SU
dKqMiMyQbM4Ogx3f5KrkPRXoFNoUI5UElPqV01QUVMZVc9W01T6pl2qYayxqntey1/qlXafjrovV
vaFH1ifq3zWINOQ37DVKM1YynjYpMbWF7x23zaMspCzeWZZZeVizWj+3ybd1sCPZDdqfdPB2FHb8
4HTVOdHF2JXBddit0j3aw8CT1nPQ68zOYG8F75Vd933yfL38JPyWyJ3+xwN8AxWDUEGDwbWUlBCn
UOkwdNib8FsRxbvjI12jNKi80ajo2ZiB2Pa4+viyhNw9qYnxSaHJ/nt37nNLcdrvkGqfZn/AId3p
oHvGzkMBh0Mzo7NSsg/n5B8pO1qT23jsXl5f/ujxzydQhRJFXsXHTt4vWTkle9qv7MSZx2dXyxXO
B1SUXOipQlVr1cTX1td9vCR5OaS+9srcNZWG/de7Gzmawpo7b/HdTml522rV1tIu33GxU+r+1YcG
j4YfJ3TzPe3tOdLn9Fx0AAx+HHo3/OE1eCMyvmuidgo9k/gRfKqYJ3/VXVL76bxavDH/W+8ENxJG
BYAThwDYeM/jUANAzkUAxPYAwAbHnnZ0ADipA4SAKYAWOwBkof3n/IDgwJMASIAHSAI1YAbHl2Fw
TFkE6kEXmABrEDukDDlC0dAJqBl6Dcd80ggXRCqiHjGKZEAaIOORl5BTcJTmhSpFvYIjMR/0BfQn
jAomFfMMy4MNx7bhSDgKrh3PiY/F9xMUCUWEVRoyzVNaddpqOna6HHoEfRL9d4ZYhiXGRCaIKYvI
SqwgqZF6mUNYsCwXWI1Zp9gOs0ux93LEcHJwtnL5c9NwX+Px4EXyXuLzhCOCPoFcQVshJqHnwkUi
nqIColNiF8WjJTQkIckuqTxpT3h1zsv272iRq5TPV9inSFFyVNZQ4VOFVMfUWtQLNEI0tbXotUa0
a3RidHX1cHp9+g0G1w2bjG4Zt5rcM+0y6zEftBi1nLZasF6xxdmx2os6qDlaOZGdk12KXVvdZjxI
nvpekTvLvQd8CL76fknkZv/vgWpBScHtIYRQ57CK8MXdZpFlUXPRWjHZsaPxSgnH9iwkuSY/2Ked
0ppqmTaRnpmhfRhk9mVfOXIqNz/P7Diy4H5hXnFAieEp6TLBsyLlShU2lVHVpbVPLoF61as2De43
gpuSb564fe1Of9tSB2+n2YOYR2cfP+te65Hp2/n86MDdIdIweeTS6Ow494TapN60/Hv6Dy9mj37e
Mde+YPal85vCYsnS8g/7nxeWF1Y11lJ+3d3cP7bmnwjPvwRQBSbAFYSAfaAA1IFOMAp+QCRIDrKB
IqBjUAP0EgEQEnCUn4a4ingLx/FWyHRkG3IFpY06gOpGs6MD0Y0YPMYb04hlxIZhn+Ckcbm4RbwX
/gFBllBEg6SJohmndaZ9TGdI10qvRX8HjmIfMdozjsJx6jqxgCRLesocAUeezay+bDRszeyBHKwc
Dzn3cElzjXMX8djy4ng7+PbzGwhgBJ4KFgr5CssKr4p0i5aJRYkbS3BJfJF8LHVeOkXGU1Zzh4Qc
uzxeflVhTnFC6YXyY5XbqhfVStQPaVA1PbUMtSV1GHUWdYf1WvXrDa4aNhg1Gd82aTPtNHts3mvx
wvKN1bT1gs2KHc6e1UHMUd3J2tnfZa9ridtN92GPNS/BnRbeMbvO+vT4QWQV/4iAmsCpYFFKSMjV
0OVw04jC3TNRWtS90W2xqDir+KKEqUT1pKPJ0/uMU6pT6dP2HJiG95PewxaZD7PNcrqPOuSO5aUc
5y24WxhYTH+yudT/NKnswdm95Srnv1y4WhVbo1WHuThw+cKV5Gte11Ua6Zsmbl6/feCOTRv73fGO
mk7qA61H2K7BJzVP9/d49ek8FxlgGnw05Pxy8lXia+bRa2NO46sT1ZPu0wwzXR8Oz1p+Zpx7sXD2
a8iiynfEj57l0tWgX4rb848EGEC7uQOIAxV4BbiBcHAQnAG3wTDs/4KQBRQLVUCDCBqEEez5HUgc
0h55BvkFZYGqQuPRVPQbjBPs7TbYARwZ9xNfSFAnTNKcpNWjHaFLouen72KIZ5RknGA6Q/QjSZC+
Mz9kKWNNYvNk1+OQ4mTnouFGcK/yLPOu8gMBLHwD5RGWFdEWdRALEt8vcVLyBhx3z8sy7lCQc5Xf
p1Ch2KO0oiKh6q6Wr96vyazlrl2hM6enrX/E4I2RonG2ybiZlnmhxRcrO+tLtrR2YfaPHSWdsp0/
uFq41XrgPSleD71Fdx30mfQzJFcGIAP9g+5RREMyQmfCrSLqI1miEqhjMUaxl+PZE/bt+ZjkBvup
SkpVKkfa0XTUweSML4c9Mq9mrec4Hak6unzMMe/ycUIB5cSDIqninJNzpa6n7pSJnsmD937/890X
NCurqplqEmunLjpeaqkXvZJ7danB+/qDRpmmY83zt+xvX75DaA1sa20ndgTca7yPemD3sPTRxGOJ
J5TuyqfjPZy99n0H+68/fztAGJR74TBEfXl0uObVvZGB11OjC29Wx6G32AnMO8wkmFye+jQ9OvP0
ffOH8o+HZyM+WX+WmsPOvZlvXsj84vFV4uuXby2LaUtG3zHfO3+k/NT8ubB8YcVjlbDauEb+Rffr
2rr7xvxHByoqbB4fEK0BAOjR9fWvogBg8wFYy1tfXylfX187DwcbIwDcDdv6zrR51jACcJZrA/Vd
mS/+9zeerW9Q/4hj/l2CzZNoUyt8Em2W8KkE/gfIHuSwYbaSCwAAACBjSFJNAAB6JgAAgIQAAPoA
AACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAABTMklEQVR42u2dd3gU
xRvHv3v9Lndpl957uySEkBB6702agIAIIigKCgqiYgVRsYKdJh0pioDSe+89l9577+Xq7u8PiL+Q
7F7uUgjIfp7nnsDO7sw7s7vvzrzzzjsACwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsL
CwsLCwsLCwsLCwsLCwsLCwsLCwsLCwvLo4FobwFYWFhY2gIbF4XQxpKSkDqKLK7iqIqzlOr66XKX
YJFISBH2lqRVThGnTKsnUJwVXdPecrOwsLCwAHh2mHfvmM0opU6Bok6BituCnL49fcLq0t39Au3W
vI+dlQdBUadBVR8G9fMS0SY33yCb9padhYWF5amnby+/kNSdqKVOg6LOPPidBpW6CxVduvgHOnoq
hGuX4Hfd8XrpZ0DpT4BatYi3xt5dYdbedTAVTnsLwMLCwtJayF2COWOjkhd62EH0kOGYADzsIBvY
MWemhUTnM7YzJnH5D1/L4QGTeuhm2Vnrzdu7HqbCKnIWFhZa5C7BPLlLsMjEa0w6v7XhcSlxZ1/9
RFrNRgB9Qyv7+LvoPayk9NebiwABV8PHEwavvQVgYWF5PHhzuv37fYPzRxMk1ABIIJpQ6SFYvtt3
/K2biRkNz58xzm3q2KiMNwmAAsAFoONyo6VvbQ4YFHMnLsNkAVoBnZ7QpJbgTmcKnelcOW6nETFp
BdzkylrAXNY4vUYLEASfbA/ZWwKryFlYWAAACrf8ISM6oxOo/x9Ta4Dv/9HK6M73cy6KGtEZHRsq
zI936STtVYfirGjtrlM+iwYrks5YyvB/vzwKqKoF/jjn/W1ROS/pfByuD+uEiId67iRwNRl3sgp4
he0lf3NhTSssLCx1VJt2OlfNkKBvz0rsOZJ0dtkfLrOr6jkSVtcASzY6zU/KFN7LTlHq3t8aMu5c
DCpRr+99OhqpH24LGp+XrlSbXmr7wvbIWVhY6mBSwEx6gskE0e7rU77dlLX2dHTgoS7+NUMoEpzr
yZIT167FJgM5AIBbt+9lPL8y2LGjlzrS00EVmJInvHM5VnA1PyNG196yNwdWkbOwsNTBNELnmphP
uytyALh5Izbr5g2sY0pPT4yuTk/EaQCn21vWlsKaVlhYWJrisVDMLMywipyFhQU2LormKGvCxOMs
bQRrWmFhYamDYjj+xCtsR08FIRGSfCEfEoIAAUCv1UGr0nK0GYnKJ9IuXh9WkbOwsAAAQVAmK/LH
Hjs3BXdoRPW4ZyKVr3k7wMtGCgcODxRFQVNZi+K8MhTeTbM+/fU++4+raji1xVnKVve4kbsE8wAK
BKAHAc79f4IoylJqW6sMVpGzsLAAAKgnVl3TM36Yd593xynXhHvBl8aIzHcEzPxc4NYrqKTTlF4l
cz/Z7TB359mgXXlpMRWtUb7cJVgU5q3xH9wx6wWFS1m4oyXsZRJY16hRk1uG3LtplmcP3rLbcC9F
kFicFd2iRUisImdhYXls8PQLFLnZ6r1BUHzcHwmQALQAODklvKzEmNiypvJw9FLwJvasmPbhuOT1
VuZoejzBAazMIVwxNW9tB/e8/h//rpiXkaQsakk9gjsEub31TPS3w8Ixxs4CnPt98P+nh1LwGBxW
1nVG/7JZe67y//rp76CP7t6JyW5ueY+VIpe7KERcDrQkBU5RZusNO1hYWIyCankWLaNHQHX/jfMz
/qHzwli0w2nB1zFY2VQew7qUTvjk2Zz15rKmznwYoRB4vhcmKbNKzm5UKVYXZymb1Uvu0dU/aPmU
mG29ghFmcHaBAGVjAYvZA7Qzwz1jIhZuCnj2zNm4xOaU+dh4rQSEBti/OCRrybY3ldc+mJi8rm9P
v+D2lomFheXRQhCEjsPBfc/1Bj8u0fSHpmsX/6CPx+RsMFWJ18ETAEsn5P7s5aj3bc71YWEBvt++
GL+3V4gBJd6o0iAjfBC69uW446EdgpybJXfzqtu6uPv6W66dE3emRwD8wQEGdFB1nNIjYdqz8As9
dS7hXnvLx2IYuUswx5CNz9ZNwbOWkRJbC9LW2lzv7G6rCfS0rQiVCKqtMopt7yjTROfLVbzS4nJu
aX4Zp7Ag48n3IjCy3UTFWdGq9pajDWi2tZ1kXi0KNKGvbN0UvNmDlB+6yCFgylytATQ6QCIAuDzQ
dmUlYqBfSMGQa9cQb4rsTl4Ky+VTlBsjvGDsR4BAvcVWvk5wW/BMzFeLihUvFmUpTXouHgtFPq5H
5bQ6JQ4A4AByK2Bq74RPTp3D2PaWj+X/LH1d/mWUR3E/3Ldb6gCQeRXR1V/v8Z997258VsPzu3cP
8Js/QvmDvyNcHKzgai2BjPvQa5bzHEigogaVuaXIv5mG2yv/DnwvLZeTXJDRvKFtQ2xcFYSQDxGP
S5EcgiIA8EiKoDQ6gspNVT6Srb0WTHd8fVBo7kQOoMH9pfBctT5aOn9dwKCU+LjS5uTp5Kkw4/Mo
/YM6cfQkwdXqCW1uqrK2lcV/ZCYXjmGdZNCC4GGnc53YHRMbrUOlAFIP/H0Lp7edcv66upqbL5dR
DksmZG70d4a80fkEMKl3ycxtZwI2ZSXHlRkr+8iIyiH9QtGNYKpBnT8MB/SfOg4wuSeeW7lf+3ZR
FrJgAo+FIvd2KFLQ3SIPO7DmlccIW9cgoqsiZsyAAPjUP55ZBP0vB+l1boCbOnx8FAYZXOTNAcyl
kJlLIfN3hU9fRWz/n47afbb2oGJdfrqyrCUyewUEWk0bmPrO4OCaMa5yOJmLYQYApVUoSchD4l/X
XdbtPm3xe2Gm0qiAUXKXYF5xVrSu3v+FxVnRTQZZ8nfJ7TMkHN3qv8B6HbCYT5n8Dtq5BYunDMyd
OzpcOc3DFi5WUliCAoorUZCcj9SdV91/3XdOuqcgQ2mq94WpPem28HNhVNZkE+X18i7rLaaLhk4B
Oy/j8II1ion56f9vk7TigB7r58ad8XWGXcNL/O2hCHTXeWUl46YxQvsFBTm9OSpmlUhIn55dCKw+
K1up5dSY9XXVRw0KRyhdTQV8YEiHqpF3buMXUxrtsVDkqfk2d+uC2dQnKYd//X7Hj+Uxgk7hqcAc
cMnk3pyDNaw+GlfwVZhHQc831wa9lJEU06ywohPGeI38eGzsr4EucGroNSCTwtrNHlH9grOixkRm
TX9vS8BL167FxRnKr3cP7w6zB0V/xeOC9yA3DklFa3Zf9Fy152DqP02I0yq95JH9PLt/MDn610gv
BDfs2cmksPNwgF0fRXrUMxGYsOg331di7yW2RlzwR+mYyDGQwNgdsHdTiEL8lKPp0mKykP/BBv8Z
9ZU4AJy7GBe3P0q64y2nqtcb1lDEB8fVVu0JGKfIh0WUj/B1gl2jltIDe6/hwoJ1AZPSEuOyAGCj
u0K8ZELK968Mqn2JR2ME6hueM379icANRVmxRptXHovJzt3nZLsP3cRNULj/2uuBrDxg2znvxe0t
G8tDcECvmOs2FqCjWUqAxwfGdsaoeSNT33VwV4hNvX7UIO8e30xJ2RHoBifGoSxxf3uvAaHo/uWL
ces6hgd4GcrT2VblMaE7Bk7ogb4TeqDPhB7oNak7Bvg4VYQYIRKTmcjogFR9ewZ0/Hpm6h+RvggG
l7lOXD4wvCOGrp+XuMcn0N/BhGZ7HHrkRHPSREJK5mWPcLq0y/G4kZwUn0eXdi9Vfp6i6YIQXMBC
pDVqI2bfoCC78V2zXyVo7uShW7iyeFPgtDolDgBaPaH95ZDn8oQcVDZ6mwgg0hvdBRxSCBN4LBR5
emJ8wZvrg0av+ke6Zu9lXFtzjPfHcyv93c9eiMtsb9lYGkGneHhgVkgPP2MUoNcA6lo02VcnOMDr
w2oXdPBVdzBFQE9/P/uf5yafdrGFcRscEECfAHR/d2LcSltXhaFtvjQMx42x5Td81+pqb5QyDOro
7/3rG3FH/VxgnGImgK6+6PTFrPiNNq4KgRFXtLvrYUvgcii+VATavTbLVWCcB8kpE2Tp6O4eAdiJ
qp2MKVvhplZ09ECjZ7S6Blj8m/eMhJjYlPrHi7OidfllnMzrKThPl5+1OYRyK9IOJvBYmFYAIC46
JnNZWfDrBCji/oxt4wljf0WQGZeAELg/K00C+moVUZ6ZpNSYWh5Ls6FTPAzz/0BxBS/3yG3kR6eY
b7mVaXPsWqLwVlkVp5qiQAkFEHQLUnXrH5z8wqjOGO9gBW7D3AV84OsXkv5IywuMiI+Ope1V1cfJ
K0i8bFrMemdzE0OvcoAxnTByU5Aq6kAm/QsGZmVnTIeIZkrNOOzdFLw3BimX+MlhVA+xfgnjIjH4
SweVT1EmYgydWpSlpGB6TJXHpkeO+x9T2o8wj8Os5zQ6aAzk2uR9lbsEc0d0Us6WNOw/U8Bvp7hb
7imTY5muLamS5gBVjRMowMuBcLh3B0b7lD82ihwADE0aBXfwdt71VkyW8P+3Sk9R4P5y1On1b5Lw
Q3vL/pTA9LITYHjo9x5IPHUtVuGcnaLUA43m3mp3JePQ6TuKw+tPaD/6YGLCTyM6ov9DKo8AfOzh
rHCtDYiPRpOKPMitpsMznTG8oZQl5cC604IfT93z2BLhVd5z9oD8z1xtIah/Ho8LDAzLnHbgCKMi
55h43JhzmlSGQa4axfMDMeOhMymgsBzYdk68attp51+e6Vr8wrSepe+42YH497wH6yJfGZm8IqNA
MTovvfXjiDxKpOIaOVOaniQ0NWr6CTUfRzjbugaZF2Y2XnpPGG7/JjsDXo56v/6h1DN0462d5z2/
ApJoryvOitYLuSJG84lGT5nkgvtYmFaMQcAlSS9HwMvp3x/X2xGQS9X27S3bU0TdLIZJ3FfizBRk
KKmrVxPi31wf+PyNNCQ3LEEkACb0SnvLzlVh8Hm1d1PwZgxI+1Ba35BAATW1wKu/eY/9+g/fNw4f
S7j66er8b15b59m/tOG0LQH4O2oCXbyCmHaCb34PlGretbauCu7IqIwXxXUL1h/UqUQFTF3p2XPB
17Xzr19Piv/gh9L3Zv/q3bWIxk8lwBF+ErFeakRxj4N5hVEGH7syf3u3INp6qDVEZWYxrtGl9Q5E
ZFSAqpvcJZhOcTZbkctdgolREUXPutlA3DCXnDKUJuUIGJfc27gGizu6qXoxpSfnECa5Hz4xihwt
G9aytAKFmTFMitzQsNxoEmNic+ev95qkatgXIYAoP3S3MictDV3v56oN7h+CofWPqVTA4u0u83fu
Tf6rsJ5f+q0k8Y1z8Q1efAII90UPCU/HtC6w+XVkvtKg8vR20vpO6KF+/aELSGDearexR0+lPjRy
OHIy+cqZGJxqmIePI/wISm+MqYky8fgjDW87IQrDvnwpZq2nf5C53CWYL3dRiOUuCqncRSHS6oG4
HLszdNdJRMAvL6fsHNG1ZpyTl0Iud1FI5C4KM7mLQsQlKEb9wePqCRsXxb/KX+6i4MpdFEK5i0Jg
66rgdQ9Ud58/ovATDk3LOlnCauPrMfu6dPYJsXMLfmiuRu4SLJjct2xamC/c6FoqtwQ15RWESZ5a
j5VppQlaaxsqlpbB9JK2yuKd+AxxzM1UxHXzQ0D945ZCWLrZ663jlShhunZwRMFke4uHj93ORMU/
l2VbGp6blRxTG5slvD2qkzqy/nGRAODx2+S9oBgOGlTkvULKhzlbP3wsqQS4HCulVVqxmZJr6FrT
t2GdxHzK0CSuQRkfMYwycHjAtB6Y1NkzJjyxAGV6FbQPzteTFDROtqCfnCQAFxuY/zozZdut/kgs
KEERRYELQGUhhYzPoFlGd6+Z5GavDBLwIAHAB5Ra3HezpYRCCMK9ECZlGudwgCGd0KOrX9Ldm8mI
vpBgdzSjQBJLEAQZ6hzXZXJf3SxawwoFXI7Hmfys+MdrZaeTZ5CUy4EY91cBUgAIPUUgJ0Vp6mo2
WgUiEmjM2roOLPWg0Mh2RwA6LhfGeEY0SWGmsuZOOu9WN19dQP07LuSDsCB4TCYPOHsrrJ+JVE57
aMGNHth43GlBWkIsrfLn00yCURQAEMZ/lCiAQzTdA+UQNFZUCoRMprMA6G3/jp4K8cAOyufq507q
gFV/2b2WEhfD8EHjNzJjce6Xb8y7zlQPU3vqbQcXCHCDX4CbidcRgEgMdA2EL2DcEnofF7j6uMC1
JeJayIC+YQjuG1Zg9OLGk9HOfwGmBUJsU7OErUuA8OxnMZUZv8UUZPwWU5LxW0xpxm8xJXsWK1O9
/APNTcyusawE0N2/spe7r+JJGlk8sdi7BfGtZWikTB0tIQr1qe7cWuWcuOm4ueGAV8gDLK1Lg5iu
6d2xpH+AIx6aL6moBjJKzGhtjV5+ATbh3uqohse1OkCnZ1yF1ljRcYGegcUDHDyCGG3Qtq4Kgb0l
bBtcTXEIkM5yDaOi6NmhtG9XH0TUP1atAgqrZLR1cvcLsOrkU96v4XExD+gRUj3Yzk3B+CEEAIJC
kytUG/A49OD/U1TVAEduyA6ael1bK0ACQCEAK9wfktR5N2QDMDUwEq0i7+yNkO9eVO5Zd8praUE5
L19dy60hiIdC5BMN/tLJSAdlxDGqifONzbc55zCd27DuTdXf0HX/eqNIJZCEelV2U9g9bPIAAC4X
eH9MzjcqlUttaprobrmWV63/f8+9ob800UBmAv93X9RRJKET8KrEqlqg/nJrDgF42lUGhoYGWON+
75IPgFRroPZ1VYd8NTl1Da+Bkc3KDFjzcuKen9ydPj0Za3YoM1eQnJuirHLyDBKO71U4o6s3Hv4w
UEBmATJVOq5JqzCHdkDvFdNjNm8+7b+8pJxTrCcpCgBBUYSuVkNWDYssH9cnAN0atjfBBbVsUubX
VVXeL+UU8rO4XAIEQXG5Aorv4qjx/mpK6mazBkuhZGLg15eS9/naOy45c0O6N61MkF2rJqqseKR4
WHDpiL5BaPRx4nCBL6fmrg/zLuz/96WAnworOPk1alL14D5wAOgIDngycZyQ4cl7lD3y/9j2Fsaj
1QDL9zjNT4yNMzkueVsrchL3l2/z6pWlx/1196baVOlvMB8Y0wUj+wSnjCyrQoVODx1B1J/fb/C3
oRoxXBrx4CqqyXONeQGIRqkUQ250eTPLQDSZJ0Xzt/6/CRAgGD4JBABI+ODJLWArpDOgEICTNWxW
z87aVVyB6ho1asm6XBvKTvzbpg3rVLfsvUokBF/c0KLLAeYMrlo4oVvcTBCwAAUBAC1BoNLu/s4r
jXzQwQVcbGG2/LmczzMK8VF6CZLupeFO94CYyEBn+AlpfH9vp+F6RlKMSYqc4AHTemPMiPD4Z8pr
UKXX/1tPvZAHrZ0FbIWN7aEECBDBrujw16LkS6XVqFVpQBIEKBBQ25rD3EKGxitauYCVObBsYu7y
7EFYkpqPNH06ii18YO/vCj8RQ5/bzAyY1U83eVKXuMmlVSjV6EGC+nfNqw5AtYOlyWYEU00xTcLl
UQKmqXOtBuDz8XiqegrIKkTexTjcGtgBQ61kMMneodMCG09g2+ZjlhvpwpU0Rdv3yKlGq+s4zSzX
oNu+lTlgZQ5TzTUsrQUB8AWAgw3MALRk3sKC9igBWFlAamWB+iYMEYAmI09zeICHI0QejgjurWAO
xKYngYvnXVcDjAuKmRUUB7C2AMfawvRnUCoFTyptuh4PNQcPcLGFxMUWQUaHluMAMikgk8KKJtXQ
YiOmd6/V9Yetpd6RKW3dadGGIAdVSG8FIhjDLjxqKAA64GoakhZu9B8el85LCfHUBs3ol/DOc93x
HJdxqdz/r1drgCXbbV/ZcdZ2R056THlzxHgUphU+zTGmmB0sTxp146on3QmUBI4poTyQaH6m5ZkZ
Qd2UZFv6XJFASh5S3GzgxWvZVHSjd1XuEswB0pn0R7M9mCzEKgdaBc0FDt1w2vBFkvhKmJe2m69T
TaiVmcYR/98O7l8THgGK08Btn85ttr75kCDuzz3rH5xH1suTqnfsobZQabjVeaXC1NRCQZIynZea
lxZTDQAnM3E3Ok0xZfVR/Ye9gyqGRvrmPBvojEhXOUQ8HkBSQK0GiM1CyoU42V8HbzltPnUm/u59
K3TzaJdJQqJ539LG11D3Q4FyeXg8vs5PE9T9icGfD4u2+jipAoeFoRPxGDiCkjrgYjyuyySwCnGF
N4eDpj8yJHA1BRkfb/Ubk5tuWkB/UA+G/AIY9ww+OH/PNRwi9aCe64lhxsh3IRZXJDXgh3RAOK+p
Xt6Da26mIWXB+oBRIyILps7qX/KOpdRIGWmlboShPnGzFbmbTTHj+CIpg0jMSFJqMpJwGsBpuUsw
AQDFWdGPXaewIENJFWQg6fxF/ODgrlhnJSPNrKR6yQMPJ0Kr5+gLyoiK1ITYcpi2fwUtba/IabZn
EvAg4nBM68NZy/WNgwWRwK6LOCSXQdY3GD34reIAx9IUGjVwKw3kn1fdPth8TPaFhZSyvNY7d+m8
waWvyS3Qbh/ViipgwynObz8d8HuXy+WQMwbkLx4fVbzQq67fRgcJnFAi9u3NPqNvXk0wGNuCR1CN
njCVBvh0l+XHIzqXTY7yhh9h4I3Sa4FbaajYfMLh/b3X5Ou4HPDVlPKPcREYKDOjl7GqBth1Bbs/
+91vDqHmaicPKpszqWfuh4GukBiq09k4JL+22ndI9O24pLPn8e69NK9rswam/NjdH46c1nnrKQKM
i2mapVgjIgMCovziIujqVVAOqDWch2IqPY4KnI68dGVtXiuFMWaiTRU5BYCkGsepNhNBIuJBDBMq
5ySlnLgNbrCeBC7Guv7+4++ZW7z8A61C3LW+fB7BQ+NhUcOhFcHwb1Or96TA5F1TN7Tk4oG7cb1f
w2MEAKKgnJuRnMdNzk5W1gL3Q13nAyWfKDH31wOKhT7Oeg97C719Xc+jXjn1y+TUK5tO1rqhrb7e
v+tf/1DbkyR0OWXc4tRcbnF+urIUuB9WfHE0Fn3jpljWJUgdOrJT3suOFlUKqQRiPge8ylpUZJQh
bf8Njx+uRJtdLsxouifuJNf4chpIrCOBywmWB3497PyprSVlH+iiceVyiLo+879tWVzFKU7I5iWp
1dDeDwqXBwC1C9cqhr67EeIgV52rtRlp8aDjQwAkkVfOL0nM4ubr9Cgvvh/UCkvXYMXPhxS/dAvS
Bg0Oy5vmIq8IMxdDxueCV6NGbX4lcv845rX0UqpYWZCl/Dci05a/UvYcvKY4Yi6hxMHuOlchnzJD
42e44ftC6EiKyCjg32nYFsVZ0frdFwO+uZao20kQRJ3bIkEQEGQX8dNMfUCDvQNsPh0f96OvA/2i
nnPROFKl5rWpMnySaVNFLhRwiNJqFICCdf1X1sECchcbvUc0mFfpNcTFpjqooXuZVgcUlAuyACAl
PrY0JR5XH2XjsTxMfrpSlZ+OONRp0seAggxlxf4MnL+kVFzi8yHiccAlCBB6ElqNFrUFGUqjPsj2
bgpxF3/lwIaKXEsBah1HXZyl1BdnIScu2jSXg+IspR5AVV4qYo29pihTWbE/E5cvxShuPKgT50Gd
dFot1PkZSi1DWdXFQHVqAopao21vXI9LuAEkNOdahX+gpaOD3k0ihCzcq6z3s13iZga5wYtpzuDU
bfk/eorzX9zftFVo4x45QRZWogB42PdYJgV3Zr+Ej28kKcYUZjYdkc3JM9BySp/Y2Q2NMaVVQF6p
IL0d2o3lCePBc2bUdm4NsXFR8CL9aiOGhKJ/w2ewSgXkFvOajMrYRnXS4gndQmvygIIFrw0t/lAs
vB+quKkAtXczra7UjUpYGtOmijwnRak+p5T/PTy8+OEoXwQwLBIjp8RXTF+5FesN5eHspZC9OSHm
6yAXODdMSylAWkoBx3SnSxaTeDCpRBRnRZP1jxVnRVP3vRfueyEVZ0WbFCZV7hIswv1XWPW42Tud
vBQSSzPKQi7VWg+JyJw8Z2DFOzS+4LiehBNVtTyjw03IXYK5eLCjUnFW9BOphFsDmbjWwsIYh0sS
WH8Ku+MzBEaPWJ5G2nyyc9c5m12fTCz+quFLIBEByyZnrnO3kyj2XHZdnZrPS85KVuoAwMFdwRPw
IbC3UNktGqP8YWQERjTKmAROR9usy0o20cuAxSQUwQGuY3sWvS7kakV7LviszSwSxhRmKnUACD9F
oMeIyLKZTlaVnhfj5fsvCxSHc1KUTfrByl0URICnqsuoTrkzhDy15MRN2y3XuYpLuekmbxbcZrw+
MuWrab1rX7UQAxIhaN0EdVrg5F2XnfkZMUatUo6I8A+c1j/5Y7lZrfupONfdh64ErctObp7f8H+A
pj/cFJBRhJofD/p8XJARU2VEnk8tba7IK2p4haeVODk4DP0eGpYSgNQMmD+qZsFzPeLnxGTiVmEl
KjQ66M3ESqm9OSzDPBAqYdisq6QCOHZH/gdax9zHQkO3Hl6Rm+bGXfVxAEAArw4unrt4m+ura3fg
F0upzvbbWXGHh3eAHzjAPE355B8Om637bm/QouzkmDJD+XbvUDN8zazUv+0tAHCAF/tVTVm2x37J
pqOK7woylO0+oWXvFsS1No9xcJQbOIkClHkoP3lD2tSmywCAXt19Oq59Lf6m34Nx5fiumVErHcUB
3+xWLCjIUD5VSsrWVcEFUg17rVFAVhF0L//sOfT29aQYI7N+amlzRV6cpaz98HffucFuiVecbWhW
rxGAvRwiezm6Gp0pBaw6YP/WmQvxLXfAZKHF3S/Q7NMpsVt86q2zszIHPpmc+fO1eL+9k/snfTa8
I/zq0gQCYP6w6pfORat2ZifjOFO+Lj6BFu+Oi/3e3hL/2kVlZsDrw/KXn0+QHinIwI32rvsDDPay
a9TAOxu8h8TExOU2lZGdm4L71hjlGr96/hgCAbBwaO1LR66pfjqZgdvtXdlHTJ2nFD0kcCYGcYs2
ez937Ury7fYW9kngkazHu3o1MXbZPo95JWVosRmE1AJHbyFt0ymb3x6F7E8rIgHFt5I0jnRoKwGC
PLWdO/noIhqmcblAmFd1pKF8uQRFuVvDteHklo0ZYMZpnZjmLSU/I0YPpk4OBSTloXrKdx59Dp9I
vmxMfkIBxXG1abyJAMEBLKU11sbk8R/kfpgAEqitBbIKobkai9Tt53B88vdeY6d8o+jCKnHjeWQr
O/eek26rqfYsWjohdbu7LcxNXgVIATUq4PBdXP1gc9Az6YnKskfbVE8XFAlCq2vsS6DRAUXlvMzy
KnqbVmEpN9VwzhxeuQq1jhRk9XMvrwVKa4my9q53Pe5/xPSARn//2SuuRPXRe5y/Np3yXX7lcrzR
LpY6PcEprEA+KNg9FFucBMoqBSZHunvSKcxU6g5cD/hamVt9pKBEGF9RRVSW13I1JVWc0upaojI/
nd1M3VQemSLPT43WbUnFgduJQcERXsVRS6fm73C2ApdoSgLyflCZW6nI/uWo54vH70jO5yQra9q5
3f7zlFZyVUduyn6P9Kxc/O8gmASO3MbZoycSb+p1nm8P7pB6VVLnOkYBKfnAaaXFUUPR22pURNWa
I45Lvpqa+z2XVy/fuziaVyQsbu96A4Ctq4I4r6zelFRQdo3SiiqKK0TpaQWChIxCXnZpJaesvveO
MeSmKtVbTri93T0g45BZ3aQ/CVzPRmlsppnRO6X/lzhyOu4WgFvtLcd/hXZZTC13URAWUsrO014v
7+xb2cfXMa+ftYy0l4lgAYDS60GW1aA0Oc/mdFym+em4HGFyZhGnJCel/SfCniYcPIJkz3QpH/PK
kOxfBQQEZ9JxcNWuoJfio2MKAGD8CO+BbwxPXmMng9vVRBz54WDAK1evxWU0la+tq0I2PKKm3/hu
qZ9amcHx4E3Lr7eccfopIzGmsr3rXJ8HroJka7hG2rkp+JF+6pCpvZO+tZbB+Vy82bY/zrl+Gxcd
99h46rA8uTwWoabkLsE8DkFxBPz7NnuSAqXREjpT/ZJZWh+5i4JrKSUtuRwQZTWcioK0h4e9Hn4K
qZhP8stqOFW5qUqj/aLlLsEcoYAy53EpIiMxxtRt/55Y7NwUEh4PhFoD1YNVnSwsLCwsLCwsLCws
LCwsLCwsLCwsLCwsLCwsLCwsLE8nj8HmXCwsLG3N0GemduCKLKuK89Of2oiLj4JRE2aEa0hhXlnR
U7fOi4WFpS1Z9vnKt3Ny8rJ27z240yOwizHBY1mawQuz5w/OzSvIOHHq3N+9B43zeZRlt8vmyyyt
T0jkALm1lYUNHl4bQFEUdBUVFaW3rxwzejcmlv8OK777+aP5r770gUDA544ZMWiCVq3Rf7jsq9eT
oi+YFja0y0ArgLACwEf9rRQpkoMrx5/K1an1mf7ygiErV3y83cLC3MrezsbVwcHO7ZXXqYnnju15
bHbLYnkC+HH1hk/LyytKy8srysvLK0rq/Yo3bN7+TXvLx/Lo+fK7nz9Sq9UUSZIURVEUSZKUVqul
tuzYs92/Qy9bozPqNUyC33dlYtdu6t/fjt0q7Npdge07svmh3S3au67tyay5bz+Tm1eQU9fOdW0d
HRN3b9Co54IfhQxsj/w/glgolJqbyyxpkiixSGTW3vKxPFqWr1j1zpxZ0z4UCAT/HiMIAjweD8+O
Hv5cRmZW4pI7Zz8yKjMORwCJyAWch4KlCgEIodNzKYLzSKKoPo4MH/tC53feem21vZ2NPUH8fzBM
EAQUgf7Byz9avEaj1k4/feSPZu1taixP7Q34D2IokBO7FPwpYtmKVQtff23mp1IzM9r3u7ikpODi
pavHTMhSZCCNAKjHapu+R4ler9eRej3j+9WpY2jX779Z9mdYl0FyU/I1FVaR/3cgTDzO8h/k+Znz
Br85b9ZyM4mkkUcaRVFIS8/MHT9lVs8De7aeNyFbQ3qChyd0A+jW4PC+rTfnvPHeUGVMfBxF8z27
3zP3C/7hm2U721IOVpGzsPxHGDJ6SsdPPli4ViIWC+oP84H7SrywqLhi9tyFoy6d+sfUYb6h0R4B
EE/1iO/4gR13F73/6fPJKWmZJNm4qTgcDrpGder/3Y9rPm4rGVhF/h+BItiO99OMX2gP0ZJF81Z6
uru50qVXV9fo31z80ZRj/+y63ozsm1DUT61l5V8O7912/Z0PP59eXFJaSdcz53K5mDVjygcz57w1
pi3KZxU5C8t/gI+XvPV916iIXnRpKpUaX6369b1tG342aqNoGgxpagJgexEA8Of2tSeXfbHq9dKy
ctodjswkEs5nn7yzpkf/0X6m5t0UrCJnYXnCmTzjtSGjRgyaxuXSL9TetHXnj0vfX/hlC4owpKg5
YL3f/uWHb5Zt3Lh191daLf20gY3c2uaj9xZ819rlsor8vwPRzDSWJ5jAsN7mb86b9blELBY2TKMo
CvEJSelffvfLuy0sxpCeIACKVeT1WL1+y9LzF68epzOxcDgc9O3dfdjkGa8Oas0yWUX+H8DevQMX
rLJ+Kpn07KhZnTp2CCNorBsVFZWaD5Z99UpKzOWqFhbTlJ5gYzbVI+HOOc2Hy75+vby8QsWkzJd9
uPhHv9DuktYqk1XkTzhyl2ACBCiCenp9eZ9WuvUb6TX9+Ynz6dL0ej12/rFv7e6taw63QlFNdBII
Vo804PyJvbFrN27/XK1ubC4nCAKe7q6+M1+YPL+1ynush0Tu/p0Fdna2jgH+PgpPDzcfLpfDpSiK
BACKAlVQWJSXkZGdlpySGh93+2x5a5bt4tOJiOwU1j1E4R9mZWlh4+Li7A4AJEnqS8rKitMyspOv
XLlxLiMzJzkl5qKmpeUZwiuoqyggwCckNDiok4uzo4eZWGwGAGUVleWJyakJd+5E35RIRNK2lAEA
OnUb4j50SL9RtjbW9k4ODs4ACIqiyIys7LTcvIKs4yfPHbhz5Vh+W8tBx7jJs7pHdQ7v5WBv5ywW
CsUURVGFxSUFZ85dPHbl6q3T6fFXW/VDFxDWWxYeHtKlgyIw3M7e1lkqkTzU/hUVFWVVNbVVhUUl
+Upl/N17ypibarWmJjPxeqvJMfnZ0S+7uji50KWlZ2TmrNmw9fNWKopZkVMkCIp6KN3SowO33MbG
nQrw7gcHmxCIxHIAHKhqi5FffBdxSSdw7URKa7VDfcy9wjm15lJ7ratjBOztwmFh4QEOwQOl16K4
NAGFJUpJUspNnlZXxNXqdaAoChyC0PN5/Apra3v4ePTj31Xu0UZfarE+2bR196rB/XuPDwkODGk4
YiIIAiOHD5y2aWvv1TG3zhS3tKzHUpFPfP7lvs+MGPJceFhIVy9PNz8+ny9gOpeiKFKlVquSktMS
U1LT4i9fu33ii6Xvrmlu2eOem9lz2pSJr3TvGjHA2srShiCYexs6nU6bmpaRdOrc5X92/bF/04mD
O5Wt1QYhkf3txowcPL53z66DO3UM7WFuLrNkkoUkSVKv1zdhx2wegR1720yb+uzsYYP6jQn09wnh
8/lChlMpjUarvn03+vL+g8d27v7z780Jd8/XNKfM3zZt+6p716ihD+Tm4L7XhD6/oCj1uemvjc9O
uqEBAN+Q7vxZL055c9zo4TM83V196drnlZlT305Nz0zcvmvv6t82/v59WtwV0jRp/o9vSA/xxHEj
n+/ZI2pwVETHPobuCV3bZGbnpJ04ff7vl1+c+nZzZagjqtcIz+FDB06hM6mQJIm1v2374saFo60V
S5X5+dFoNTydnvfv1N6AZ7qU9evxHvy8RkLI8KjUqknEDT6JwyfexsUjt1pFwsi+Pujb65MKb7fO
sJP7gMes2mr0OqCkPAXp2fdQWZUHmdQWbs7+sLawAgWRNiXlCoAWK3LljVPlm3//8/vlHy1eKxQ2
VmEBfj7+z08eP+vdW2e+aJU2eBzwCIgSvfnu0pk3b9+7VFurqiZJkqofhMYYSJKkUtMyMptTfu+B
Y3wuX715sq5sU9Dr9VRhUXHB2o2/fx3aeYB5S9ohIKyn+a/rt64oKysv1ul0WlNloWPHrj2/mCqH
m39n/rsffT4nKTk1XqvVksbKQZIkpdFo1MkpaXFz33x/UnPa4NCR47vp8i4vryjxVnQ1B4Axz83s
kZiUEq3T6ZqUjSRJSq1Wqw8cPr4joscwh+bI9Na7n0xJSU2LU6vV6pbck9t3791syfNRx6of1y7X
arW0ZWRkZud2iBrg2BrlAAD6jHDBvv0U/v6n8W/bDq00IMpTGhBljTeXfIpdf5Zj/9/059b/7dtP
YdvvpRj3/Astkm3w2IH4auUV7P6DYpSR6bf/bwr79lH15C3Hnr356NKvo9wluFXmnBSd+llcv3nn
MtPzcC869k5rlPNY9Mi79hnls2DerPefGTF4Ep/PExLNdEslCAIcDodv6nXz3np/4vuL3/jW1kbu
1JyyORwObOTWttOnjH8zVOEf8dr898Zfv3DYtDChAEZPeLHbO2+9ujwyomMvDqf9AhF5K7pK3nj1
xfdeenHqArFIZNKEDEEQ4PP5Ai9Pd//Pl767Wm5tIf/k/UU/tYZcXB6XJxaJhM9Ond330w/fXu3j
7elrrEwCgUAweECfiWq1WjX2/MHpxpYZ2nmA5ZzZ0xZOmzz+DYlY3Brmq1YxrQzo13MUj6bXqdfr
8fOaDZ/duXI8tzXKaRKtjqMSCd10w/vPQacOg8DnGdeR4XAAc5klxgz7FqVlqTj591lTipX5duJU
9ui8EAN6L4HMzLxZruwEARAPzdOKAOgAaIuzolvlPilvnCzf8ef+38JCFVF07qFeXu7efQaP8T99
5K/4lpTT7pMU3fqO8vl2xQfrx48Z/oJAwG+2Eq+HSUPnL779adGXn77/m52tTbOUeH14PB7ROaJj
73W/fH24W79nXE25dt5bH0xa/+s3e6M6d+rTBkrc6Iq5+UXyF77x8kevzHphkalKvCFSM4n54jfn
rlj2xXdvtIa8Aj5foFD4dV/6/sJVfr7eRinx+nC5XAwfMmDS7LmLRht7zWefLP5x9owp77WSEmes
myn0HTxO4evjRbuoRK3WqM5duHaglWQ1QmaKo+veaToiwyaCz7MyOWdzqTXGj1xr7tHB6PaV+Xbi
VY4Y+DNGDV4Bc2nzlDg9AtxX5urWbLyTpy7sLyouyaNLE4tEZnNfeXFJS8toV0UeGNZL/sf2NSej
Ijv1agUFXofRX9Jln6+c/8acmR+LRMJWcwMCgNDgoE7LPlj4s29ID6NGBz36jfL67JN3VltZWhgb
I7rNPFRmvTj59VkvTn2TaV6CoihUVFSWZmRmJ6WmZ8QXl5QWGgj+BrFYZLZg3uxls+e9PdoEMWgf
Bi6XK/xl5Rfb/f18QppbPx6PJ3zphUnzvYK6Nnlv3n5/+fQBfXuN5XA4jA+nXq8ni4pL8pNT0pTJ
qekxySlpyrT0zPj8gqLsqqrqCr1er2vYhM2VvY5xo4dNZbo/ytj46Asn97XJRCItVhbAwL7TwW2m
ByJBAA52fhWdwyYae0nl4D6foXfXlw3ZwVsAD/d75a3GzYuH8w4fPbWP7j0hCAIR4WG9PQO7CJuR
9UNCtwveiq5mP3//+TYHezvXppS4TqdDdXVNZW2tqpwCRQLgcLlcgUgoNBOLRWI+n1//g2RUAJ/w
bgOdZs+cskgoFDAqcYqiUF1TW11RUVFUU1NbDgAikcjMwsLcXmomkTLJTRAEunWJHDRj2oQ33lt0
/mtDcnSIGmDz48rPtkvNJIxDUpIkUVJaVnQvOvbipWu3zpWUlhVzCILj6GjvHODjGejr4xXs5OTg
IxGLDYUbbZKR46d1nfvyjHe5XG6j54IkSRQUFmft/uufjQcOnfirqLgkV6fT6aytLO1DQgLDZ0wZ
/2poiCKKbjAhEYtls2dMfvvkqfP/JEVfbPZLwuFwYGVlKW54j1QqtTY3vyA5Jibumrm5uZWnh1ug
s5ODN50sHA4HYR1CukZ2Cu2REnPpFFNZgR17i56fNGaeQMAX06WTJIk7d5UX1278fVVsXGJ0fkFh
FkEQJEEQhEQikYlFIqlEIpbZ2dk4du8a2TOiY0hXJwd7d7VKbbLJrT4BYb2EkREde9OlaTRaau36
LS1Zwdmcm9L4GEUBtWqgqqoYOr0KQqE5zKUy8BnUDY8LdI18Hbs2rW+yvGHP9ke/nosMfjjuT2Zm
ISXjMtKzzkOnq4WAJ4WtbQhcHANhZeEMC5kLQx4UTBzVG8PJsxcPPTt25GyJRNxIaTg52ts7Odq7
pcai2TsttZsin/Lc2Nk9u0UNMKTESZKk8vIL0jds3f3T3ejYm4UFRTkarVZNEATPzExsKbe2tnd0
sHMc1K/nkF49ug7h83kCiqKaHBa5+ERw3nnr9U/tbG2c6NKp+y7Z5PmLVw9v3Lb71/j45LuFxcU5
ACC3snL09fUKmfbc2Fm9e3YdxuVy+XR1EImEgikTx766bsPvP6TEXGKUafLE0TNDFIERTHJQFIWD
R07s+HXdtm8P7Nl0je68kIj+8uWfvP3jyGGDmjW5CAAeAVHCBXNnvW9padEobjJFUUhKTo2ZPmv+
qEtn/klukFx46jCiz5y9dOzX77/Y3jkirE9DBUoQBDqEKCL79ek+Iin64l4jxDGq10pRFAoKi7JX
/rTu4737D2+Lu322FgAiegx1XvL2vM9GDqNfts7n8wXhHUOidm4BoyL38/Hq4OvjHUR3bymKQkJS
yr0XZs8fc+/ayQKayyvr/2fzWvwDAH0Gj/extbU23fxQD6mZmY27mwutWaWktLQ0LimlVSbPGmDc
cJmi7v8SU8/j1IVPRenZV/hqVU2lpaULOgSOx7ABK8DjNg7NQhCAl1uoJCDKoibuCqO3iCi4m0g1
pO8Kxg8CRQFqbS3OXvqOc/H6T+SNUzkNT7FyDxWXeriG4eXnD0ImtaTLBW2gyG/fUV4or6gol0jE
jcrk8/lCfx/3gAsnm6/I24XQyP5OWdk5aYZm9zUajWrFNz8tDujY29KYPBWd+lm+8fZHk3fs3r+y
qXOHj3u+a3VNTSVT2Wq1pvaHXzcsbSqf9z7+Yo5Kpa5hykev1+s/WvbVXKbrI3oMdszNzU830Abk
1p1//erm37lJE9i6Tb9/x5TPjl17fm3q+lmvLXy2urqmiu765JTUhP7DJ4Q1eQ/C+1rdi465ziTH
+YtXDvsEd2+yLoeOHP+jKe8PkiSpmLiE22FRA+zo8ujQub91Smp6LNP1J0+fO2RIhvkL35/KdK1W
q9W8MnfhhKbq0RY8P/O1YUzeKsqYuJiAsF6tv7lynxHuRnmE/LWXwpw3PjH3CW90j63cO4ixaMlv
BvPp3M/DoBzTX55l8Po//qxGzyE9m6qOKLibJbZsz6PNY8/eWnTp59JUHs3h/MUrZ5g8nvYfOPJ7
S/JuFxv5mGeGTHKwt3NmSi8vryh5f+lXcxe/9dqKuFtnyozJU3njZNmqLz/ZPunZUfObOnfCmJFT
mSavtFqt7q/9hzbPe2XGh03l89nH7/zy9aqfP6KxgwIAOBwOp0+vrkO9grrSdiEG9e89Si63smfK
/+z5S39/tuL7tzPirzbZQ2i4KMNUJk8YPUMspt8S7o+9hzafOLDrdlN5KG+eKv11/ZZvNBotbXt4
uLsG2dpYuxkhjsEeOUVRiEtIUk6b+fqI21eO0/WIcefqiZLDR4/vph4sIGuImURi7d+hp5ipDGu5
taH5CkIkEYvRDnSJiuzFFBwrJjb+dmlpeUuX4zcPrQ44emopfln1UUXSzUZtXpp+pxZ3Yn6DxoBl
zaxxb/UhFAHPgckPQKcDjp1ZinOHzxkhrRoEowm2zUJdXLh84zhdvHIAcHN1blFExEeuyN39O/Nf
nDbpVTo7LADodDrdP4eO7/jy0yXr2kqGyE4dujGl5eYVpK/b+PtKY/PatHX3L5WVVYzDQR9vzxBL
SwsburS5L7/4LtMCm4rKytIfV2/8PObmqYq2aoc6FOG97SM6hXWnMyNU19RU7d1/eIexeV28dP1k
ekYm7c7h1lZWNp6ebv4tlTc/vyB3yUefz7p+4XCWofNu3lFe1el0tGHoRCKhjM/jMU4w6bQ6xl1v
uFwu74UpE14J7NjbuqV1MRVPN2dvJnOkMjbxpk6vb4u4J4aVG0UBcYlH8csqg3uAinLyY6A2YPk0
M2M2Ow0aEwgX50jG9MSUc7JjZ1YaWR8NqEe/q9Hd6NhrTJ0cK0tL26COvU12na7jkStyT0+XIGtr
K8beTkZmdsq3P6xZ3lblR/YY5OHm5uJNl0ZRFI6ePLvv+IEdscbml3jvYtX+A0d3MPX8bG1s7Dw9
XBu5yvUdOl5hqDd+63b0hb07N1w2oWqGXjaDPdzIiLBuIqGwUQ+Toijcuau8dOn0/iRjhaiorC7K
LyikVbBCoUDs6uxgkltmQzQajXrlz+s/+mvnhktNnVtZVVOtYxgt8bhcviE3z6yc3EyKIXzNA5t/
l93bVh95cc5bI1pSH1Oxs7OlXehDURR5+uz5w8VZ0a3qcdEkFAVk5tw227SzyQ0TVNEXS6DVM6+Y
JAw8wz7uI8AUhoKigNvKtZUpd4xyG1RFX2zKIaJNvMKysnLSysrLaTtmUqmZzNraqlmL1YBHPNkp
dwkm7G3lLkz+yRRF4er12+dvXjySY2rexjLmmRGTJGIxrR1RpVJXHz959m9T89y4dcfPz44bOZ1u
t3o+nycM8PdWAPh3yCd3CSYszKXWBhQJde6iSZvjNoXBHlVEx9BIgqabR1EU0jMyM8OiBrnp9LoK
ioIOgJ64/8IR98+BHgD54JjQ0sJczmUY+3M4HIQGB4a3pCJHj5/ct/vPvzcZc66qVl2Rn1+YIRaL
rXC/01JXR05xaWmqntSrmK7NyMpJq6quqZBJzWi9iQiCQFCAX8Sqr5b+vvCNlxO3/L7n17PnLx+/
cGJvm7n+BYT1ElhaWNBu4qtWa1RV1dUt8ohpFno9sGnnlOr468aGY2jetnAuTj0Z/cX1JLh3Yw6b
mDHju4c2UuQVFZVlVVXVNQAajeTEYpFIKBI02w36kSry4qxo6tmxn09iMquQJKk7efZCay9meIjQ
4MBwpqFpeUVFaWZmbrKJWaK6qrakpKS00NnJsZEi53A48PfxVDRsBzv5IFsOh0Or8LRarebS1eun
27Id6mNnK3fgcDiN7glBEBjQr/fYDqHB4QRBkKB/wKl6fwkOweE6OzsomMqSyWSWLZG1pKQsLyXm
slFByvbt3nCjsrpmLIcghPj/i0sBoGpqayuUN04zKp/j/+y8o1QuvB7VuVM/Q26mUjOJNNDft+Oy
Dxauzs0ryE5JW3z30pUbJ3fs3r/t9uWjrbq6UiaVWvH5fFoXU7VardaodSpT82w5BPgqTZYJdoom
9v9kwMLclVGR5+TFmVVUlplog2QyY7SJ1woA1KpU1TW1tbRzGHwej8vjcJutjx+5+2GHEAVjj0yl
VtdeuHj9eFuWb29nw2jOKC4uySuvqCg0NU89SWlUKhWjUrC2amxKkpqJZUwBl9RqTW1iYtq9tmyH
+oQEK2g/bgRBwNZGbmlrIw97VLIYgUmTUScP7owz5fz6fP7Nj29v2/DTSamZWZPLzrlcLlycHZ1d
nB2de3XvMvSNV1/6JCYu4eaxk2f/2f3nP7/fuHg4o6UVl8mkVlwufQgKlVqj0Wh1rboi0VgogjDF
nNPEtnEMmJszvre4cXN9RUa0qTZvpkB8bdYj12i0qurqGlrTEo/H4/H43CfHRt6Ut0pbT+4ZWmpd
VVVdrrxxyuRejUqtrlKrNYzXCYUCoatvxENtHRnZqTvB0NUrKysvTrx33tSHqVkPn0dAZ6Glhbm8
Odc2kydmA4z9uzfdWPLhZ7NLS8tMNlmIREJJxw7BPRbNn/PF4f3brm/ctvuHsKgBLWpnvV6vY/r4
UxRFtuLqaFPQApQpVo3mKUkul9nsUKM2qfMlCu7GAWBoJWVbrZxuKt9m38BHrsjFYub4HXpDa71b
CZlMZsGUVlVdXWlKXnWQJGWwR0IQBAcNXkBXF2dPpvPVGnVtW7dDHRyC4AmEghYtDzYFksn/6jHl
+28/2/nBsq/mxiUk3aNM3LvjQRA32Mitbac9N27u3l0brr22YMn45spSVFSUTzEIweVyuPdn/R45
lIn6x3QZuw0WgM9lHhXpKFM7X3wQaBf30WbV3wjaPWjWQ8I8goh/Or2OUemKRKJm3VwOh+ASBrpD
ej2pI0nysdzBh8MhCAFzjPFWJzMzO7W962wqP3332c4pM+YNWfvbti9zcvPSmTyUDEEQBNzdXDy/
XL5kw/Mz5w1sjhx2dnaOTB8ToUDA5wt4AhOzbA0oEz8gpr/jHA4PhocbpubJb+KatnxXaeuh1+v1
eh3ZbI+jR24jV6nVtWYSCa0tSCaTWvqH9ZLF3z7brJ6xMRjy+ZZKzSwCwnrz4m6fMalBhUKBVCBg
VoaVVVUV2Uk3Hhpt6HR6g37Kzahas4Zlej2pq6quqZLSeGfodDqcu3D5aHpGdgJPIKiTqaESoxr8
rS9L3cYQHAAEpSc1F65cP9EcOdubmxcP57x88fBiAItfX/jhlOGD+4/x9/MKdXK0d+Ob8CGUiMXS
b1d8vLmkpHz4gb82mxSbPDc3L4ck6T8iIpFILOQLxADafN0BDaYoPtP93DUaLbR6FYSgjyXEJUyN
MSQwIHGb2acEAr5IIhHTWgQ0Wq1Wq9c127f9kSvyoqKSfDM3+gBRErHYLDwsuEv87bOt6Xr3EJWV
VYwPuo3c2kEmNZMDMGm7Mg5B8M3NzWkXM1AUhczs3LSGx8+eu3CsV48uQ+k6GkwuZk3QrF6EniQ1
Go2GdpJMr9dr9/5z5Pfvv/50Y3Py/q/y/ddLt33/9dJt4d2GODnY2ThPnjhmereuEf1tbeSuZhKJ
pClbtbWVpcPIYf0nmqrI+QIBV61W006q8/k8gY2ttTNMfHZbB5OM86b3yK+e0EL/UjXAoMhFfBvT
MjSo99pMkYvFYqlZgy0B61Cr1BqtVtvsLSMfuWlFGRt/l2l4yOVy+YP69WrTBRbFJaWMEyMWFuZy
eztbY5aQP4RMKrYxZ3Cr0+l0iItPutvweGFhUS4YlK9QJJREdB9ibEhbAADB5TTro5yRcJ2Mi0+4
Q3dPeDwe39fHO6A5+bYhj42J6ubFwzkH9269NvW5ca+NnTir78vz3hm37+9DmzQajc7QVACHw0Gv
nl1HKTr1MzOhONy7dqK8sKiI1qWRIAhOrx7dBrVPS7SxaQUA9HrmUbqXx2CTpCUImYFvT5spcnOZ
1FIqNaO959U1NTWqWk2zwys8ckW+75/DfzI95ARBoHvXyCFhXQa2mRfFkeOnGf3UJWKxrHevriY9
FACw5J0FnwuFAlr7ekVFZem96PhGPa/isvISJlurUCAQhXcM6Wps+SPHPd913KhhU5rbJlnZebSu
cRwOB316dOnv7N3pkdnQH/DYKGtjuX3laO72DT8eHvPM8OmjJ8zsnpiUatB91NLc3Eok5FuaWk5B
QRFjWIKwkKCo9qm9SbqveYqyrJzZfdPHu5eZT0ejdYZ6aL8PIDPpG9oquLk5e1laWNCaVkpLy/Ov
njtQYGqedTxyRR4bl3BPrWH+8ni4u/rOnjn1rbYq//KVaxcqK6vKaBuDw0H/Pt2Hd4gaaGlsfqGR
/Ww6d+rYiyk9IzM7oay8opH7mlqjqzYQbIsbFdGxyShuANAhqp/ziuUf/GpubnChjUHFmJKankg3
GUsQBPx8vYNDQ/yDTGvlp5tD+7ZefWPhBzNzc/MZlS6Hy+ESHNNNmzdu37vCNKJ1d3f1UXTq26I9
YxmgWpT8MM0LJVFWkcbY8TcT86t9vbsYVfrUWS8hIuwFMPtVtFmPvENIUBehUEBbcHJKaovWjTxy
RV5aWplfVVXNaKfm8/nEpHGjXpn71vtG7xhiCuUVNfkZmVmMqzcD/X07jR89bLqx+U2aMPolMzOJ
JV0aRVG4dO3miZibp6obpqWlZyXq9SSju2X3rp0HKDr1NRiStFP3oS6b1/34V6C/b2hL2uTs+cvH
dTr6VYECAV8056VpCz0Du7RFMKb/LMmpGfGZWdlNrRI22fvlnjLulkajpX1urCzMbc3NzUy1F7cC
rab7mNsjI+sMoyLncABfj+HWLsGGn9F+I8MxpP83EBscYLaZIu/eJWIY0/zJsZNn9rUk70euyKNv
nCr8a9/BrYZ8cq2sLK1Wrvh469IvVr4ZENbLqDGQt6KbZNSEGVGLP1j+ol+Hnoz1SlZeqr1y7dZ5
pnSRSMh/Y+5Ln762YMnkpsp896PP5yyaP2c5k9dkdU1NzY7de2mjON64cLggKzuH8UX38fYImzZl
/KtM6V36jPRa99OXf4QGBzJHhDOScyf2xd2NjrnGlD5y+ODJn3y4aKVXUNfHyl21LfHv0LNFjgAW
5jJra2srO6Z0nU6n06i11abkCQBZ2XkpxSUlxXRptrY29qFB/hGm5mkErdkjp5qVlp51BDUq+hEO
QQDdouaUuPozjozRfVAQ5r54HhbSthixNElY1CAHDzdXPzpFrtfrcSc67kZL8m+XHYJW/bTuq1Ej
Bk9ydLBnnFjkcrm8t+fP+WbCmBEv/rZl57e3bkdfKy0rK66tVVUDgEwmtZBJpRYSsUg6fsyI6f36
dBtqLpM56/X6ioOHT+4FUMKU944/92+eMG7UdKnUjNZeZSaRmK349L1N4R2CO23ftXd9VnZucvyd
s2oACAjrLbGzlbu+OG3i3PFjR8zm8Xi0yo0kSRw9fnrXuWN7Gf2mF7/3yUs7tq49S+e+xuVyMWfW
C8tra2pr9v1zbMety0cKAcA3tIcoNDig89IPFq0O8PNptYnI7bv2bggOCowSi0W03ZVJ40bO9XRz
9n3rnaWzrp47mGlMnv5hvSS2crmLhaXMMjwsJHLZB4t+agVRH8nyxQljR8wYu/nnVzZv/3Pl3Xux
17Jz8tLibp8xauGJV1BXs0kTRr3g5uocyHROYWFRdnVNbampcpWVVeQlJafdcXJ0aOSLzuVyMXvm
tLdX//TNrlZujibanDDlA9+8BWHH92VjQM/LUATQL6iSiICXR++Bvfh1SWLyMVF5ZT7F4fCr5FZO
2ogO09G/5/vg840dVbb6HE2n8JCe5uYy2hF2dk5eTlZWXotCOLSLIo+9fa5ow5YdPyx+c+6XXC6X
8SERCgXw9/NWfPbx4vXFJaUlFRWVORqtVgUAYrFIKjUzszCXyayEQsG/bkmVVVW8pup17O8dN//a
P2bL85Mn0O7ew+FwYCaR8F6Y+uybw4cOmJ6Xl59QWVVVShAEITUzs3R0tPe1kVvLDa1fyszKyVy9
bpvB/TrTMnOTsnPy0jzcXWljdMukZtz33n79+0nPjn45Mys7QavTaR3sbd29PT3CZTIpvzWXZP99
4NiO0cMHje/Vs9twunz5fD66d+08+O8/N92MjUu8cvXG7Yunzl48kZdXmE0QBMHj8QTubs6enh5u
Xi7Ojm4uTnauXh4eCisrSye53MoxP78g+/ede9ckRV945HGgm4NQJJSGhQaHhygCNxcWleQWFBRm
XL1+60x0bMK96zfuXK2sqi7T6XQqkqR0er1ex+NxBTweXxwS7N9x2uRxL/ft1WOsQEAfOoMkSRw5
cXZ3svKSyQojWXmRPHfxypGe3aMG0t0nf3+foK59RrpfOv13eis2R1MPmikPoqHV24bzUSZsQqDf
eFr7NkEA1paWmPzM5pqC4pSa5JSzsLPzh43cG3IrO8bt4ehpdUU+ZGDv8UJh4/VaFEXhbnTMhbS4
Ky1a8dxue3Zu3LJ75cC+vYZFdArr25RC4nK5sLO1sbaztWk6kP+DUKtNnbbs81VvDx7YbyzTvp11
5drb2Vjb29kYN5HyALVao1qzYduyo//8rjR03s1LR0v2Hzy2c94rMz5kagM+nw9/P2+Fv5+3wlBe
1TU10Ov0enNzGV2vo8kXLVl5SbVsxcr3/uwQ0s3Cgt4nniAI2Nna2NjZ2gzv3bPr8EXz55gaN741
XpBHat7hcrlwsLd1dLC3dQx94BVC3d+UW1NZWVmkVmuq1GpNjZmZxNrCXOYklZrxmnqe0zMyU7Zu
/2N1c2U6dPjknjdff/kTurDJYpFI3Kmjotel039vacVmMNTmhIm31ZDCMnxvt6z5BxFhZ+DlRrv5
NAgCEIsBdxcvuLt4MeZTZ9alv0+tHjSrS5+RHv379BxMF91Zo9GSa9ZvWdHSMtrN5pl474Ju6sx5
Q2Ni46+ZGsOiCSgYocgToy/WLlry6czy8ooSI/I0Gq1Wq/1m1a/vfPbxO2uNOf+Hn9Z9Fq2Mu9qS
Misrq2o/Xvb1y3v3HzCqTCZOHPzj7sefffuGSqVui3ComqToC62x6UG72+kfhK8VODrYO3m4u/r5
+3mHuTg7uslk0iaVeHVNTc27H34+K/rG6bLmln/h1P7UGzfv0G6sweFw8NYbr34aFN6nNXcvIpqZ
RoehZ6DpvA4eXwRdC6I8UhSQV5SG7LykRxWaZuSwgVMtLMxpzbhp6Zkpf/+5pUX2caCdX4qEuxfU
k6bN6Xf81Lk/tVpta4XgJADjtnHavHbV4Y+Wf/N6alpGQks/JhRFoby8ouyrlb++vWTxG6uMvS5J
eUk9d8F7z2fn5KabKgNFUaiqqsaX3/68+OsvPlpTUVmZ39J6rPzyky0rvvt5cXFJaWErf2BNedaa
F+r0MYaiKBQVlxR9+d0vb+/csvpkS/PbtefvjSoV/Svj5urs1rdn1NBWFL+JOCcm2fha9jE/suca
jpxeCk0zLHQUBaRlXsfazVNRWhZtoEfeas9YVK8RbqNHDp5DZ4alKAqHj55s0abLdbR77yb6xumq
Qf17j/9g2Vev5eUXZrZUeZAkqSNJ0ui7vOqrpdvmLlgy6c5d5cXmlk1RFBISU6LfX/bVy0vefn2l
qdefPb434ZV574zPyjZtU4ui4pKyD5d/M3PNhu0/2Xt04Gu1eqYKmOQ6+PF7b34/7aV5Q+5Gxza5
nZqxEARhSmTLJobyj4RWfTfuRsfenPXawmeWvr+wNSZ8cfT42T3RMbG0PTkOh4MXnp+42C+ke2tF
+GvCfmtSGFtD5xrXmft15Wc4fuZTqNXGfxQoCkjPPi/4ZcM4i6LSWxCLDe3G02rP2IjhA5/39fak
Nd/mFxQVbf599y+tUU672cgbsmLZkvV//nVw84TxI14cOrDfGB9vz2B7OxtHpvjLdWg0WlVefkFm
cmpazK07yks7du3bqLxxyqSYBQf3br11cO/W7u8v/eq1Qf16jghWBERYMWyYXJ+qqurymLiEm3/9
feT3L5a+2yKzxj97Nl+PjU8MfnfhvGUjhw+cbGsjd2IapucXFBYdP3lu91ff/fLJnavH8wHA1i2U
UKs1FRUVlUX12owAALVabbKb28G/tt08+Ne2bvPf/uj5MSOHTAoM8A23kVvbE0bOsJIkqS8qLsnP
yc3LzskpSD578fIhY8tWqVSVFRWVdB4dlEqtblVTGBMpaZkJFy9fO+fi7ORpb2crZ1q5a6D+yMsv
yItLSL7x596DW35e+dnO1pQv/s652j/2HPglLDR4HY/X+DUODwsNeWX2C0venHfh/RYXRpIkalRV
4HCkuN9j1T34qaHTaQjKhI+eWlWEGlVd+Ik6e7QKAAm1CUvUf1n5AZLS/sGgPsvg4dYdTNuk6fVA
flEs7ih34Odvl2oAaACgnoNEA1qtR953yLNB06eMf5vu/gDAn/sObrh58Vir7CL12A5TO3YdbO/t
5R7YKbxDZ18fT387ubU9Hgy5dTqdLik1IyEuPkl5687dq0VFpdn3rp1otYiJik59zAf07z2qY0hA
JxdnJ3draytbLpfHo0iSVKnVtfkFhTmXr9w8d/7StZPZOXkpKTGmex8Ywr9DD+HEZ0fPDA8N6uzm
5uLP5fL4Wq22pqi4OO/shavHDx859dfNS0caxYzxCupKWJjLrEGAi7qogxSomprayvi755odxwEA
giP6SgP8fTo9O2bkVBcXRw+RUCiuc5vU6bQajUanrqioKMvOK8iMT0iKvnz1xpmyssqC25ePlpla
VkBYL4lYJJI+qEf96Ir6qqrqssR7rWJrbxLPwC48iUQsszCXWXl5uftGhodFeXu5+ZtJJDIzM4mM
x+PyuFwejyAIgtTr9WqNRpWUnBJXXFpRfPjIyf3pmdlxyhunWtTuhlCE95H89N2nf/Xu1Z02xkpu
bn71lBmvdTt15M+7pubdEH5oDxl1/yNe50xAASA5JMXR3DtvdMdJFNyNp+Ny6wJH/f+DAEB351zz
3qOeQ1wQGb4Aro4R4PMEAEFAr9OhqCwBJ89/Iy0ojKtKfDj6KNZuvAoHm8ZrMLQ6Fb783g2XT5q8
U1hDdvy5f+u4UUOnNFTkFEWhsKi4eMzEmREXT+1Pa2k5LCwsTzhz3nhnglarpUiSpBpCkiR1/uKV
i+0t42PJ+o2x+PsfqtFvz95adOnX4tWxM155c2xtrYqiQ6fTUZ989u2b7d0ELCwsjxHbd+xZp9Pp
KCY+Xv71gvaW8bFjy/ZsBkVegy79WhS0r/egcYrklLRiuntBkiSVkJic2NrVaffJThYWlpbx4+pN
X+QXFBYwTda/PmfmZ8+9MKd/e8v5mGFo8+VmL84JCu8rX7J43mpPDzda98/y8oqahe8tnd7alWEV
OQvLE87FU/uSVnz708Kq6mrauQMrK0vR50vf29qt30hPU/P+D8MUOatFC4IWzH1pea/uXbrT+QRo
tVqs2/T7iv27N11o78qzsLA8pqz+bet3hkwsKWnp2cGd+rbmQqEnly3baxhMK5Xo0s+yOVl+9vWP
7zPZxSmKok6ePnc6IKy3pDl5s7CwPCX4hvQQHDh0bB/dxCdFUZRer6eu37wdHdF9iEt7y9rubNmu
NqDILUzN7p0PP59TVV3NOOmcmpaRHdFjmMm7j7GwsDyFRPYc7pmcmp7BpMxJkqROnj53KbLHUI/2
lrVd2bpd31o98gWLP36xtLSsnKknnptXUNRrwGi/9q4yCwvLE8SQ0VM6p6SlZzIpFpIkqQ2bt69r
eUlPJqLgbnxs3U4aUORWxub16vz3JldUVFYztXVRcUnpmIkzTAq61xzYyU4Wlv8Yh/duu7rovU+n
JyQmN4obT1EUDhw6dmjVTxs+am852xEeKMbFkByYMNl54tS5P86cv3S+4baNFEWhoqKy6tU3Fo/4
a+eGy+1dYRYWlieUCc+/Mjg1LSO7zsxCkiR1/OSZ8xE9hj7VNnJRcDcJtmynaHrkJPbsrUaXfibt
IhQS2Z9z6OjJI3q9/t92Li0tK3nxlQWtGbiMhYXlaWX4mGndcvMKCiiKomLiEqKDI1q22OW/gFjR
jcugyPXYs1dtqiIHgJDIAfwLl65e1ev1VGlpWeGrC94b8yjr9NjGWmFhYWkdeg8eHzZj6rNzvvjm
pyVxt88Wtbc8jwW9hw8Cl8sBAR2ASgAVAFSgwMXJ/UnNzXbbrr0bt2zd9e3h/dtbHN+GhYWFhYWF
hYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWF
hYWFhYWFhYWFhYWFhYWFhYWFhYWFhaWV+B+mhd0vYQ5HvQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAy
Mi0wMy0yN1QxMzoyNTo0NSswMzowMPIYMOcAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjItMDMtMjdU
MTM6MjU6NDUrMDM6MDCDRYhbAAAAKHRFWHRpY2M6Y29weXJpZ2h0AENvcHlyaWdodCBBcHBsZSBJ
bmMuLCAyMDIy5LS/nAAAABd0RVh0aWNjOmRlc2NyaXB0aW9uAERpc3BsYXkXG5W4AAAAAElFTkSu
QmCC" />
</svg>
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
      </a>
      <a href="#"class=" items-center">
        <div class="z-50 my-4 text-base list-none bg-white rounded divide-y divide-grey-100 shadow dark:bg-grey-700 dark:divide-gray-600" id="search">
          <div class="flex items-center p-2 w-96 text-base font-normal rounded-g relative mr-90 md:mr-50 block-center md:block">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="email-adress-icon" class="block p-2 pl-10 w-full text-white-900 bg-white-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-white-500 focus:border-white-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  placeholder="Search...">
          </div>
        </div>
      </a>
      <div class="flex items-center md:order-2">
        <button type="button" class="flex mr-3 text-sm bg-white-800 rounded-full md:mr-0 focus:ring-4 focus:ring-white-300 dark:focus:ring-white-600" id="user-menu-button" aria-expanded="false" type="button" data-dropdown-toggle="dropdown">
          <span class="sr-only">menu</span>
          <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/150" alt="user photo">
          &nbsp &nbsp <p class="text-white drop-shadow-md underline md:underline-offset-4">Omar Ali</p>
        </button>
        <!-- menu -->
        <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
          <span class="sr-only">menu</span>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    </div>
  </nav>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class=" w-10" src="{% static 'images/logo/light_notext.svg' %}" alt="Workflow">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="{% url 'events:all' %}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Events</a>

              <a href="{% url 'contributors:all' %}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" >Contributors</a>

              <a href="{% url 'challenge:challenge-list' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Challenges</a>

              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Issues</a>

              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Docs</a>

            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <button type="button" class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
              <span class="sr-only">View notifications</span>
              <!-- Heroicon name: outline/bell -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </button>

          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Heroicon name: outline/menu

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Events</a>

        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Contributors</a>

        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Challenges</a>

        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Issues</a>

        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Docs</a>

      </div>

    </div>
  </nav>
