{% extends "base.html" %}

{% load static %}

{% block title %}Under Construction{% endblock %}

{% block content %}
{% include "pages/nav.html" %}
<!-- ====== Banner Start ====== -->
<!-- <section class="ud-construction-banner">
  <div class="ud-construction-banner-content ">
    <div class="ud-section-title mx-auto text-center">
      <h2 style="color:white">Welcome Coders!</h2>
      <p>
        We appreciate your enthuasiasm but Coders HQ is still <b>under construction</b>, you can help us with finishing
        faster by contributing to the listed issues
      </p>
    </div>
    <a class="ud-construction-btn" href="{% url 'account_logout' %}">
      Sign Out
    </a>
  </div>
</section> -->
<!-- <input type="hidden" id="imageLocation" name="imageLocation" value="{% static 'images/construction/github.svg' %}"> -->
<!-- ====== Banner End ====== -->



<section class="ud-construction-banner" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
          <h1 class="ud-hero-title">
            Help us build Coders HQ!
          </h1>
          <p class="ud-hero-desc" style="color: #8193b2;">
            Coders HQ is being built right now by the community so <font style="color: #fff;">
              choose an issue and contribute to the project.</font>
          </p>
          <!-- <a class="ud-construction-btn" href="{% url 'account_logout' %}">
            Sign Out
          </a> -->
          <p class="ud-hero-desc" id="issuesCount">coders(<span style="color: #FFFF00">hq</span>) currently has </p>

          <input type="hidden" id="imageLocation" name="imageLocation"
            value="{% static 'images/construction/github.svg' %}">

        </div>
        <div class="ud-issues-grid custom-scroll " id="issuesGrid">
        </div>
      </div>
    </div>
</section>

{% endblock content %}