{% extends "base.html" %}

{% load static %}

{% block title %}Under Construction{% endblock %}

{% block navigation %}
{% include "pages/nav.html" %}
{% endblock navigation %}

{% block content %}


<section class="ud-construction-banner" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
          <h1 class="ud-hero-title">
            Help us build Coders HQ!
          </h1>
          <p class="ud-hero-desc" style="color: #8193b2;">
            Coders HQ is being built right now by the community so <font style="color: #fff;">
              choose a feature and help us implement it!</font>
          </p>
        </div>

        <div class="container-sm">
          <div class="card-group">
            <div class="col-sm-3 p-3">
              <div class="card construction-feature">
                <div class="card-body">
                  <h5 class="card-title">Challenges</h5>
                  <p class="card-text">A kaggle style competition with big prizes</p>
                  <a href="https://github.com/Coders-HQ/CodersHQ/labels/challenge" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-3  p-3">
              <div class="card construction-feature">
                <div class="card-body">
                  <h5 class="card-title">Events</h5>
                  <p class="card-text">Both physical and online coding events</p>
                  <a href="https://github.com/Coders-HQ/CodersHQ/labels/event" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-3  p-3">
              <div class="card construction-feature">
                <div class="card-body">
                  <h5 class="card-title">Dashboard</h5>
                  <p class="card-text">Overall UI/UX dashboard-style design for the platform</p>
                  <a href="https://github.com/Coders-HQ/CodersHQ/labels/dashboard" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-3  p-3">
              <div class="card construction-feature">
                <div class="card-body">
                  <h5 class="card-title">Chat</h5>
                  <p class="card-text">Chat feature to connect with members and form teams</p>
                  <a href="https://github.com/Coders-HQ/CodersHQ/labels/chat" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-3  p-3">
              <div class="card construction-feature">
                <div class="card-body">
                  <h5 class="card-title">Coins</h5>
                  <p class="card-text">Our very own crypto coin used as an incentive and reward</p>
                  <a href="https://github.com/Coders-HQ/CodersHQ/labels/coin" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-3  p-3">
              <div class="card construction-feature">
                <div class="card-body">
                  <h5 class="card-title">Scoring</h5>
                  <p class="card-text">Every coder should have a score based on multiple categories</p>
                  <a href="https://github.com/Coders-HQ/CodersHQ/labels/scoring" class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>

{% endblock content %}
