{% extends "dashboard/base.html" %}


{% load static %}

{% block main %}

  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Leaderboards
        </div>
        <h2 class="page-title">
          Coder's GitHub Ranking
        </h2>
      </div>
    </div>
  </div>

 {% for user in users %}
 {{ user.username }} {{  user.github_score}}
 <br>
{% endfor %}


{% endblock %}