{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block main %}

<!-- Page title -->
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Profile
      </div>
      <h2 class="page-title">
        Overview
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ms-auto d-print-none">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{% url 'users:update' %}" class="btn btn-white" >
            Edit Profile
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row row-cards">
  <div class="col-md-6 col-xl-3">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-4 text-center">
            {% if user.profile_image %}
            <span class="avatar avatar-xl mb-3 avatar-rounded" style="background-image: url({{ object.profile_image.url }})"></span>
            {% else %}
            <span class="avatar avatar-xl mb-3 avatar-rounded" >{{object.username|make_list|slice:':2'|join:'' }}</span>
            {% endif %}
            <h3 class="m-0 mb-1"><a href="#">{{object.name}}</a></h3>
            <div class="text-muted">{{object.username}}</div>
          </div>
            <div class="card-footer text-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="GitHub Score">
               {{object.github_score}}
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-9">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Username</h3>
            <div class="text-muted">{{object.username}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Biography</h3>
            <div class="text-muted">{{object.bio}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Github Profile</h3>
            <div class="text-muted">{{object.github_profile}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Frontend Score</h3>
            <div class="text-muted">{{object.front_end_score}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Favourite language</h3>
            <div class="text-muted">{{object.fav_language}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Backend Score</h3>
            <div class="text-muted">{{object.back_end_score}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Database Score</h3>
            <div class="text-muted">{{object.database_score}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Devops Score</h3>
            <div class="text-muted">{{object.devops_score}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Mobile Score</h3>
            <div class="text-muted">{{object.mobile_score}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>


</div>


    


{% if object == request.user %}

{% endif %}


{% endblock %}