{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% load static %}

{% block main %}
<!-- Page title -->

<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Profile
      </div>
      <h2 class="page-title">
        Overview
      </h2>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card card-body">
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'users:update' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
