{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block main %}

<!-- Page title -->
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Profile
      </div>
      <h2 class="page-title">
        Overview
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ms-auto d-print-none">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{% url 'users:update' %}" class="btn btn-white" >
            Edit Profile
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row row-cards">
  <div class="col-md-6 col-xl-3">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-4 text-center">
            {% if user.profile_image %}
            <span class="avatar avatar-xl mb-3 avatar-rounded" style="background-image: url({{ object.profile_image.url }})"></span>
            {% else %}
            <span class="avatar avatar-xl mb-3 avatar-rounded" >{{object.username|make_list|slice:':2'|join:'' }}</span>
            {% endif %}
            <h3 class="m-0 mb-1"><a href="#">{{object.name}}</a></h3>
            <div class="text-muted">{{object.username}}</div>
          </div>
            <div class="card-footer text-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="GitHub Score">
               {{object.github_score}}
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-9">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Username</h3>
            <div class="text-muted">{{object.username}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Biography</h3>
            <div class="text-muted">{{object.bio}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Github Profile</h3>
            <div class="text-muted">{{object.github_profile}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Frontend Score</h3>
            <div class="text-muted">{{object.front_end_score}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Backend Score</h3>
            <div class="text-muted">{{object.back_end_score}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Database Score</h3>
            <div class="text-muted">{{object.database_score}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Devops Score</h3>
            <div class="text-muted">{{object.devops_score}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h3 class="m-0 mb-1">Mobile Score</h3>
            <div class="text-muted">{{object.mobile_score}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>


</div>
<!--Front End Sliders-->
<div class="col-md-6 col-xl-3">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          <img src="https://alphabetbags.images.blucommerce.com/alphabetbags/product/enamelpinyougotthis_1.jpg?auto=format%2Ccompress&bluhash=86bd4ed84ab516db4077cef352a560c6&s=0858bb9d5f7353eb823eba0d6cc81955" alt="frontendImg">
          <h3 class="m-0 mb-1">FRONT END</h3>
          <div style="line-height: 50%;">
            <br></br>
          <h4>BASICS</h4>
          <div style="line-height: 50%;">
            <br></br>
          <div class="range-slider">
            HTML
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
          <br></br>
        </div>
          <div class="range-slider">
            CSS
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
          </div>
          <div class="range-slider">
            JS
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 75%;">
            <br></br>
          <h4>FRAMEWORKS</h4>
          <div style="line-height: 50%;">
            <br></br>
        </div>
        <div class="range-slider">
          REACT
          <div style="line-height: 25%;">
            <br></br>
          </div>
          <input class="range-slider__range" type="range" value="1" min="1" max="10">
          <span class="range-slider__value">1</span>
        </div>
        <div style="line-height: 50%;">
          <br></br>
        </div>
          <div class="range-slider">
            VUE
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
          </div>
            <div class="range-slider">
              ANGULAR
              <div style="line-height: 25%;">
                <br></br>
              </div>
              <input class="range-slider__range" type="range" value="1" min="1" max="10">
              <span class="range-slider__value">1</span>
            </div>
            <div style="line-height: 50%;">
              <br></br>
            </div>
              <div class="range-slider">
                JS
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
                <br></br>
              </div>
              <div style="line-height: 75%;">
                <br></br>
              <h4>STYLES</h4>
              <div style="line-height: 50%;">
                <br></br>
            </div>
            <div class="range-slider">
              BOOTSTRAP
              <div style="line-height: 25%;">
                <br></br>
              </div>
              <input class="range-slider__range" type="range" value="1" min="1" max="10">
              <span class="range-slider__value">1</span>
            </div>
            <div style="line-height: 50%;">
              <br></br>
            </div>
              <div class="range-slider">
                MATERIAL UI
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
                <br></br>
              </div>
              <button class="AddAnotherSkilBtn">ADD ANOTHER SKILL</button>
      </li>
    </ul>
  </div>
</div>


<!--Back End Sliders-->
<div class="col-md-6 col-xl-3">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          <img src="https://alphabetbags.images.blucommerce.com/alphabetbags/product/enamelpinyougotthis_1.jpg?auto=format%2Ccompress&bluhash=86bd4ed84ab516db4077cef352a560c6&s=0858bb9d5f7353eb823eba0d6cc81955" alt="frontendImg">
          <h3 class="m-0 mb-1">BACK END</h3>
          <div style="line-height: 50%;">
            <br></br>
            <h4>TECHNOLOGY</h4>
            <div style="line-height: 50%;">
              <br></br>
          <div class="range-slider">
            PHP
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
          <br></br>
        </div>
          <div class="range-slider">
            NODE
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
          </div>
          <div class="range-slider">
            RUBY ON RAILS
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
        </div>
        <div class="range-slider">
        JAVA(SPRING)
          <div style="line-height: 25%;">
            <br></br>
          </div>
          <input class="range-slider__range" type="range" value="1" min="1" max="10">
          <span class="range-slider__value">1</span>
        </div>
        <div style="line-height: 50%;">
          <br></br>
        </div>
        <div class="range-slider">
          ASP.NET
          <div style="line-height: 25%;">
            <br></br>
          </div>
          <input class="range-slider__range" type="range" value="1" min="1" max="10">
          <span class="range-slider__value">1</span>
        </div>
        <div style="line-height: 50%;">
          <br></br>
        </div>
        <div class="range-slider">
          REDIS
          <div style="line-height: 25%;">
            <br></br>
          </div>
          <input class="range-slider__range" type="range" value="1" min="1" max="10">
          <span class="range-slider__value">1</span>
        </div>
        <div style="line-height: 50%;">
          <br></br>
        </div>
      </div>
      <button class="AddAnotherSkilBtn">ADD ANOTHER SKILL</button>
      </li>
    </ul>
  </div>
</div>

<!--DATABASE Sliders-->
<div class="col-md-6 col-xl-3">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          <img src="https://alphabetbags.images.blucommerce.com/alphabetbags/product/enamelpinyougotthis_1.jpg?auto=format%2Ccompress&bluhash=86bd4ed84ab516db4077cef352a560c6&s=0858bb9d5f7353eb823eba0d6cc81955" alt="frontendImg">
          <h3 class="m-0 mb-1">DATABASE</h3>
          <div style="line-height: 50%;">
            <br></br>
            <h4>ROBMS</h4>
            <div style="line-height: 50%;">
              <br></br>
          <div class="range-slider">
            MSSQL
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
          <br></br>
        </div>
          <div class="range-slider">
            MYSQL
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
          </div>
          <div class="range-slider">
          POSTGRES
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
            <h4>NOSQL</h4>
            <div style="line-height: 50%;">
              <br></br>
              <div class="range-slider">
                MONGO
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
              <br></br>
            </div>
              <div class="range-slider">
                CASANDRA
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
                <br></br>
              </div>
              <div class="range-slider">
                COUCHDB
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
                <br></br>
            </div>
            <div class="range-slider">
            ELASTICSEARCH
              <div style="line-height: 25%;">
                <br></br>
              </div>
              <input class="range-slider__range" type="range" value="1" min="1" max="10">
              <span class="range-slider__value">1</span>
            </div>
            <div style="line-height: 50%;">
              <br></br>
            </div>
            <div style="line-height: 50%;">
              <br></br>
              <h4>GRAPH</h4>
              <div style="line-height: 50%;">
                <br></br>
                <div class="range-slider">
                  NEO4J
                  <div style="line-height: 25%;">
                    <br></br>
                  </div>
                  <input class="range-slider__range" type="range" value="1" min="1" max="10">
                  <span class="range-slider__value">1</span>
                </div>
                <div style="line-height: 50%;">
                <br></br>
              </div>
                <div class="range-slider">
                  ARANGODB
                  <div style="line-height: 25%;">
                    <br></br>
                  </div>
                  <input class="range-slider__range" type="range" value="1" min="1" max="10">
                  <span class="range-slider__value">1</span>
                </div>
                <div style="line-height: 50%;">
                  <br></br>
                </div>
                <div class="range-slider">
                  MESSAGE
                  <div style="line-height: 25%;">
                    <br></br>
                  </div>
                  <input class="range-slider__range" type="range" value="1" min="1" max="10">
                  <span class="range-slider__value">1</span>
                </div>
                <div style="line-height: 50%;">
                  <br></br>
              </div>
              <div class="range-slider">
              QUERIES
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
                <br></br>
              </div>
              <div class="range-slider">
                KAFKA
                  <div style="line-height: 25%;">
                    <br></br>
                  </div>
                  <input class="range-slider__range" type="range" value="1" min="1" max="10">
                  <span class="range-slider__value">1</span>
                </div>
                <div style="line-height: 50%;">
                  <br></br>
                </div>
                <div class="range-slider">
                  SQS
                    <div style="line-height: 25%;">
                      <br></br>
                    </div>
                    <input class="range-slider__range" type="range" value="1" min="1" max="10">
                    <span class="range-slider__value">1</span>
                  </div>
                  <div style="line-height: 50%;">
                    <br></br>
                  </div>
                  <div class="range-slider">
                    ZEROMQ
                      <div style="line-height: 25%;">
                        <br></br>
                      </div>
                      <input class="range-slider__range" type="range" value="1" min="1" max="10">
                      <span class="range-slider__value">1</span>
                    </div>
                    <div style="line-height: 50%;">
                      <br></br>
                    </div>
                    <div class="range-slider">
                      RABBITMQ
                        <div style="line-height: 25%;">
                          <br></br>
                        </div>
                        <input class="range-slider__range" type="range" value="1" min="1" max="10">
                        <span class="range-slider__value">1</span>
                      </div>
                      <div style="line-height: 50%;">
                        <br></br>
                      </div>
                      <button class="AddAnotherSkilBtn">ADD ANOTHER SKILL</button>
      </li>
    </ul>
  </div>
</div>

<!--DEVOPS Sliders-->
<div class="col-md-6 col-xl-3">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          <img src="https://alphabetbags.images.blucommerce.com/alphabetbags/product/enamelpinyougotthis_1.jpg?auto=format%2Ccompress&bluhash=86bd4ed84ab516db4077cef352a560c6&s=0858bb9d5f7353eb823eba0d6cc81955" alt="frontendImg">
          <h3 class="m-0 mb-1">DEVOPS</h3>
          <div style="line-height: 50%;">
            <br></br>
            <h4>INFRASTRUCTURE</h4>
            <div style="line-height: 50%;">
              <br></br>
          <div class="range-slider">
            AWS
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
          <br></br>
        </div>
          <div class="range-slider">
            AZURE
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
          </div>
          <div class="range-slider">
            ELK
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
        </div>
        <div class="range-slider">
        NIGNX
          <div style="line-height: 25%;">
            <br></br>
          </div>
          <input class="range-slider__range" type="range" value="1" min="1" max="10">
          <span class="range-slider__value">1</span>
        </div>
      </div>
      <div style="line-height: 50%;">
        <br></br>
        <h4>AUTOMATION</h4>
        <div style="line-height: 50%;">
          <br></br>
          <div class="range-slider">
            ANSIBLE
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
          <br></br>
        </div>
          <div class="range-slider">
            CHEF
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
          </div>
          <div class="range-slider">
            JENKINS
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
        </div>
        <div style="line-height: 50%;">
          <br></br>
          <h4>VISUALTISATION</h4>
          <div style="line-height: 50%;">
            <br></br>
            <div class="range-slider">
              DOCKER
              <div style="line-height: 25%;">
                <br></br>
              </div>
              <input class="range-slider__range" type="range" value="1" min="1" max="10">
              <span class="range-slider__value">1</span>
            </div>
            <div style="line-height: 50%;">
            <br></br>
          </div>
            <div class="range-slider">
              BLADECENTRE
              <div style="line-height: 25%;">
                <br></br>
              </div>
              <input class="range-slider__range" type="range" value="1" min="1" max="10">
              <span class="range-slider__value">1</span>
            </div>
            <div style="line-height: 50%;">
              <br></br>
            </div>
            <div class="range-slider">
              KUBERNETES
              <div style="line-height: 25%;">
                <br></br>
              </div>
              <input class="range-slider__range" type="range" value="1" min="1" max="10">
              <span class="range-slider__value">1</span>
            </div>
            <div style="line-height: 50%;">
              <br></br>
          </div>
          <div class="range-slider">
            VAGRANT
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
        </div>
        <div class="range-slider">
          VMWARE
          <div style="line-height: 25%;">
            <br></br>
          </div>
          <input class="range-slider__range" type="range" value="1" min="1" max="10">
          <span class="range-slider__value">1</span>
        </div>
        <div style="line-height: 50%;">
          <br></br>
      </div>
      <button class="AddAnotherSkilBtn">ADD ANOTHER SKILL</button>
      </li>
    </ul>
  </div>
</div>

<!--MOBILE Sliders-->
<div class="col-md-6 col-xl-3">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          <img src="https://alphabetbags.images.blucommerce.com/alphabetbags/product/enamelpinyougotthis_1.jpg?auto=format%2Ccompress&bluhash=86bd4ed84ab516db4077cef352a560c6&s=0858bb9d5f7353eb823eba0d6cc81955" alt="frontendImg">
          <h3 class="m-0 mb-1">MOBILE PROGRAMMING</h3>
          <div style="line-height: 50%;">
            <br></br>
            <h4>ANDROID</h4>
            <div style="line-height: 50%;">
              <br></br>
          <div class="range-slider">
            JAVA
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
          <br></br>
        </div>
          <div class="range-slider">
            KOTLIN
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
          </div>
          <div class="range-slider">
          SDK
            <div style="line-height: 25%;">
              <br></br>
            </div>
            <input class="range-slider__range" type="range" value="1" min="1" max="10">
            <span class="range-slider__value">1</span>
          </div>
          <div style="line-height: 50%;">
            <br></br>
            <h4>IOS</h4>
            <div style="line-height: 50%;">
              <br></br>
              <div class="range-slider">
                OBJECTIVE C
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
              <br></br>
            </div>
              <div class="range-slider">
                SWIFT
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
                <br></br>
              </div>
              <div style="line-height: 50%;">
                <br></br>
                <h4>CROSS PLATFORM</h4>
                <div style="line-height: 50%;">
                  <br></br>
                  <div class="range-slider">
                    REACT NATIVE
                    <div style="line-height: 25%;">
                      <br></br>
                    </div>
                    <input class="range-slider__range" type="range" value="1" min="1" max="10">
                    <span class="range-slider__value">1</span>
                  </div>
                  <div style="line-height: 50%;">
                  <br></br>
                </div>
                  <div class="range-slider">
                    IONIC
                    <div style="line-height: 25%;">
                      <br></br>
                    </div>
                    <input class="range-slider__range" type="range" value="1" min="1" max="10">
                    <span class="range-slider__value">1</span>
                  </div>
                  <div style="line-height: 50%;">
                    <br></br>
                  </div>
                  <div class="range-slider">
                    PWA
                    <div style="line-height: 25%;">
                      <br></br>
                    </div>
                    <input class="range-slider__range" type="range" value="1" min="1" max="10">
                    <span class="range-slider__value">1</span>
                  </div>
                  <div style="line-height: 50%;">
                    <br></br>
                </div>
                <div class="range-slider">
                  XAMARIN
                  <div style="line-height: 25%;">
                    <br></br>
                  </div>
                  <input class="range-slider__range" type="range" value="1" min="1" max="10">
                  <span class="range-slider__value">1</span>
                </div>
                <div style="line-height: 50%;">
                  <br></br>
              </div>
              <div class="range-slider">
                UNITY
                <div style="line-height: 25%;">
                  <br></br>
                </div>
                <input class="range-slider__range" type="range" value="1" min="1" max="10">
                <span class="range-slider__value">1</span>
              </div>
              <div style="line-height: 50%;">
                <br></br>
            </div>
            <button class="AddAnotherSkilBtn">ADD ANOTHER SKILL</button>
      </li>
    </ul>
  </div>
</div>





    


{% if object == request.user %}

{% endif %}


{% endblock %}