
@import "_variables";
@import "_forms";
@import "_dashboard";
 // project specific CSS goes here

.overflow-x-scroll {
  overflow-x: scroll;
}

.myInput:focus {
  outline: none !important;
  border-color: gray !important;
  --tw-ring-color: gray !important;

}

.lg\:grid-cols-2-search {
  grid-template-columns: 12% 88%;
}

// .grid-cols-6-contributors {
//   grid-template-columns: 376px 376px 376px 376px 376px 376px;
// }

.grid-row-2 {
  grid-template-rows: repeat(2, 185px);
}

.grid-auto-flow-column {
  grid-auto-flow: column;
  grid-auto-columns: auto;

}

.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.myInput {
  outline: none;
}

.lg\:gap-7 {
  gap: 1.75rem;
}

/* Dropdown Button */
.dropbtn {
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #B0B0B0;
  box-sizing: border-box;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background: #e8fffd;
  border: 1px solid rgba(44, 185, 187, 0.8);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(92, 205, 206, 0.62);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 0;
  margin-top: 4px;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Dropdown Button */
.dropbtn2 {
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #B0B0B0;
  box-sizing: border-box;
}

/* Dropdown button on hover */
.dropbtn2:hover {
  background: #e8fffd;
  border: 1px solid rgba(44, 185, 187, 0.8);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(92, 205, 206, 0.62);
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  left: 0;
  margin-top: 4px;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid #4F4F4F;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background: #F5FFFE;
      border: 1px solid #00AFB1;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background: #F5FFFE;
      border: 1px solid #00AFB1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #00AFB1;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 ////////////////////////////////
 		//Variables//
 ////////////////////////////////

 // Alert colors

 $white: #fff;
 $mint-green: #d6e9c6;
 $black: #000;
 $pink: #f2dede;
 $dark-pink: #eed3d7;
 $red: #b94a48;

 ////////////////////////////////
 		//Alerts//
 ////////////////////////////////

 // bootstrap alert CSS, translated to the django-standard levels of
 // debug, info, success, warning, error

//  .alert-debug {
//    background-color: $white;
//    border-color: $mint-green;
//    color: $black;
//  }

//  .alert-error {
//    background-color: $pink;
//    border-color: $dark-pink;
//    color: $red;
//  }
