.splash-image {
  position: relative;
  top: 10%;
  bottom: 10%;
  scale: 70%;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #da0202;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: #da0202;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.hiddenSvg {
  display: none;
}

/*
 * Login & Register Forms
 */

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Dashboard
 */

@media (min-width: 992px) {
  #dashboardSidebar {
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
  }

  #dashboardSidebar.theme-dark {
    background-color: #262d37;
  }

  #dashboardSidebar.theme-light {
    background-color: #f2f5fa;
  }

  #mobileAvatar {
    display: none;
  }
}

@media (max-width: 991px) {
  .sidebarLogo {
    width: 0;
    display: none;
  }

  #userCard {
    display: none;
  }

  #mobileAvatar {
    display: block;
  }

  #navBar {
    display: none;
  }
}

#userLink:hover > #userAvatar {
  color: #ff0000;
}

#userLink:hover > #userCardName {
  color: #ff0000;
}

/* Profile Page */

.custom-btn {
  display: inline-block;
  font-weight: 400;
  color: #6e7275;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
  border: 1px solid #787b7e41;
  padding: 9px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  border-radius: 10px;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.custom-btn:hover {
  color: #ff0000;
  cursor: pointer;
  text-decoration: none;
}

/* Skill Bar Styling */

/* Beta Tag */

.beta-tag {
  position: absolute;
  left: 9px;
  overflow: hidden;
  width: 50px;
  height: 75px;
  pointer-events: none;
  z-index: 10;
}
.beta-tag__ribbon {
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.4);
  animation: beta-tag-slide 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 1300ms
      forwards,
    beta-tag-shimmer 4000ms ease infinite;
  color: white;
  background: linear-gradient(270deg, #8f0e0e, #ef0909);
  background-size: 250% 250%;
  font-size: 0.975rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes beta-tag-shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* DESKTOP VIEW */

@media (min-width: 992px) {
  #topBeta {
    display: block;
  }

  #bottomBeta {
    display: none;
  }
}

/* Mobile, Tablet View */
@media (max-width: 991px) {
  #topBeta {
    display: none;
  }

  #bottomBeta {
    display: block;
    top: 95.5%;
    position: fixed;
  }
}

/* Highcharts Styling */

@import "https://code.highcharts.com/css/highcharts.css";

.highcharts-color-0 {
  fill: #da0202;
  stroke: #da0202;
}

/* Titles */
.highcharts-title {
  fill: black;
  font-size: 26px;
  font-weight: bold;
}

.highcharts-button,
.highcharts-legend,
.highcharts-container > svg > text {
  display: none;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 450px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
