{% extends "account/_email.html" %}
{% load i18n %}
{% load account %}

{% block inner %}
{% user_display user as user_display %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<div class="flex items-center justify-center min-h-screen p-5 bg-blue-100 min-w-screen">
    <div class="max-w-xl p-8 text-center text-gray-800 bg-white shadow-xl lg:max-w-3xl rounded-3xl lg:p-12">
        <!--        <h3 class="text-2xl">Welcome to {{ site_domain }} {{ site_name }}!</h3> -->
        <h3 class="text-2xl">Welcome to CodersHQ 👋</h3>
        <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-24 h-24 text-green-400" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                    d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
            </svg>
        </div>

        <p>{{ user_display }}, We're happy you're here. Let's get your email address verified:</p>
        <div class="mt-4">

            <a href="{{ activate_url }}"
            class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                Click to Verify Email
            </a>

            
            <p class="mt-4 text-sm">If you’re having trouble clicking the "Verify Email Address" button, copy and paste the URL below into your web browser:
                <a href="#" class="text-blue-600 underline">{{ activate_url }}</a>
            </p>
            <p class="mt-4 text-sm">
                If you have not used this email to signup to codershq.ae, please ignore this email.
            </p>
        </div>
    </div>
</div>
{% endblocktrans %}
{%endblock%}

