.InfoWrapper {
  display: grid;
  z-index: 1;
  height: 960px;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px;
  justify-content: center;
  font-family: Poppins;
}

.InfoWrapper {
  display: grid;
  z-index: 1;
  height: 960px;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px;
  justify-content: center;
  font-family: Poppins;
}

.InfoContainer {
  color: #fff;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.bg-primary {
  background-color: #ff2d00!important;
}

.col-md-6.col-lg-3.text-center {
}

@media (min-width:411px) {
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 65.3%;
  }
}

@media (min-width:320px) {
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 1 0 33.33333%;
    max-width: 46.3%;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -29px;
  margin-left: -15px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

