/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Customers
- Features
- Details 1
- Details 2
- Details 3
- Video
- Testimonials
- Registration
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f6f6f7
- Buttons, icons - yellow #ffd103
- Buttons - blue #0099ff
- Headings text - navy blue #2b2b4f
- Body text - dark gray #53575a
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #53575a; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.125rem;
	letter-spacing: -0.5px;
}

h2 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -0.4px;
}

h3 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.4px;
}

h4 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.125rem;
	letter-spacing: -0.4px;
}

h5 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

h6 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #53575a;
	text-decoration: underline;
}

a:hover {
	color: #53575a;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.read-more {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.read-more .fas {
	margin-left: 0.625rem;
	font-size: 1rem;
	vertical-align: -8%;
}

.blue {
	color: #0099ff;
}

.bg-gray {
	background-color: #f6f6f7;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: #0099ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #0099ff;
	background-color: transparent;
	color: #0099ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: #0099ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid #0099ff;
	background-color: transparent;
	color: #0099ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: #0099ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	border: 1px solid #0099ff;
	background-color: transparent;
	color: #0099ff;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: transparent;
	color: #0099ff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #0099ff;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: transparent;
	color: #0099ff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #0099ff;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: transparent;
	color: #0099ff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #0099ff;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.5rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.375rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	color: #53575a;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 4px;
	background-color: #ffffff;
	color: #53575a;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 4px;
	background-color: #ffffff;
	color: #53575a;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #ffd103;
	border-radius: 4px;
	background-color: #ffd103;
	color: #2b2b4f;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #2b2b4f;
	background-color: #2b2b4f;
	color: #ffffff;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	border-bottom: 1px solid #ebf0f3;
	background-color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 96px;
	height: 32px;
}

.navbar .logo-text {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #2b2b4f;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #0099ff;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #53575a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #ffd103;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #e7e7e7;
}
/* end of dropdown menu */

.navbar .nav-item .btn-solid-sm {
	margin-top: 0.125rem;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 7.75rem;
	background: url('../images/header-background.png') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.header h1 {
	margin-bottom: 1.75rem;
}

.header .p-large {
	margin-bottom: 3rem;
}

.header form {
	margin-bottom: 6rem;
}

.header .image-container {
	margin-bottom: 7rem;
}

.header .card {
	margin-bottom: 4rem;
	padding: 3.5rem 1.5rem;
	border: none;
}

.header .card-body {
	padding: 0;
}

.header .card-icon {
	width: 64px;
	height: 64px;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
	border-radius: 4px;
	background-color: #0099ff;
	text-align: center;
}

.header .card-icon .far,
.header .card-icon .fas {
	color: #ffffff;
	font-size: 2rem;
	line-height: 64px;
}

.header .card-title {
	margin-bottom: 0.5rem;
}


/********************/
/*    Customers     */
/********************/
.slider-1 {
	padding-top: 1rem;
	padding-bottom: 8.25rem;
	text-align: center;
}

.slider-1 #counter .counter-value {
	margin-bottom: 1.75rem;
	color: #0099ff;
	font-weight: 700;
	font-size: 2.75rem;
}

.slider-1 #counter .counter-value::after {
	content: "+";
	margin-left: 0.375rem;
  }

.slider-1 .p-large {
	margin-bottom: 1.75rem;
	font-size: 1.25rem;
	line-height: 1.875rem;
}

.slider-1 .slider-container {
	margin-bottom: 0.5rem;
	padding: 1rem 0;
}


/********************/
/*     Features     */
/********************/
.basic-1 {
	padding-top: 9.5rem;
	padding-bottom: 6.375rem;
	text-align: center;
}

.basic-1 .h2-heading {
	margin-bottom: 3rem;
}

.basic-1 img {
	margin-bottom: 6rem;
	border: 1px solid #d9d9dd;
	border-radius: 12px;
}

.basic-1 .feature-container {
	display: inline-block;
	width: 140px;
	margin-right: 1rem;
	margin-bottom: 3rem;
	margin-left: 1rem;
	vertical-align: top;
}

.basic-1 .feature-icon {
	width: 92px;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
	background-color: #0099ff;
}

.basic-1 .feature-icon.second {
	background-color: #0ec36b;
}

.basic-1 .feature-icon.third {
	background-color: #ffd103;
}

.basic-1 .feature-icon.fourth {
	background-color: #9159fc;
}

.basic-1 .feature-icon.fourth {
	background-color: #ef439c;
}

.basic-1 .feature-icon .far,
.basic-1 .feature-icon .fas {
	color: #ffffff;
	font-size: 2rem;
	line-height: 92px;
}


/*********************/
/*     Details 1     */
/*********************/
.basic-2 {
	padding-top: 10rem;
	padding-bottom: 5rem;
}

.basic-2 .text-container {
	margin-bottom: 3.75rem;
}

.basic-2 h2 {
	margin-bottom: 1.75rem;
}

.basic-2 p {
	margin-bottom: 1.5rem;
}


/*********************/
/*     Details 2     */
/*********************/
.basic-3 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.basic-3 .image-container {
	margin-bottom: 3.5rem;
}

.basic-3 h2 {
	margin-bottom: 1.75rem;
}

.basic-3 p {
	margin-bottom: 1.5rem;
}


/*********************/
/*     Details 3     */
/*********************/
.basic-4 {
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.basic-4 .text-container {
	margin-bottom: 3.5rem;
}

.basic-4 h2 {
	margin-bottom: 1.75rem;
}

.basic-4 p {
	margin-bottom: 1.5rem;
}


/*****************/
/*     Video     */
/*****************/
.basic-5 {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.basic-5 .text-container {
	margin-bottom: 4rem;
}

.basic-5 h2 {
	margin-bottom: 1.5rem;
}

.basic-5 p {
	margin-bottom: 1.5rem;
}

.basic-5 .read-more {
	color: #2b2b4f;
}

.basic-5 .video-wrapper {
	position: relative;
}

.basic-5 .video-wrapper img {
	border-radius: 12px;
}

/* Video Play Button */
.basic-5 .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 44px;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-5 .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #ffffff;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-5 .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #ffffff;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-5 .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 6px;
	left: 4px;
	width: 0;
	height: 0;
	border-left: 26px solid #0099ff;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
}
  
@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
/* end of video play button */


/************************/
/*     Testimonials     */
/************************/
.slider-2 {
	padding-top: 10rem;
	padding-bottom: 5rem;
}

.slider-2 .slider-container {
	position: relative;
}

.slider-2 .swiper-container {
	position: static;
	width: 86%;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-2 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-2 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-2 .card {
	border: none;
}

.slider-2 .card-body {
	padding: 0;
}

.slider-2 .quotes {
	margin-bottom: 3rem;
	width: 64px;
}

.slider-2 .testimonial-text {
	margin-bottom: 1.875rem;
	font-style: italic;
	font-size: 1.5rem;
	line-height: 2.25rem;
}

.slider-2 .testimonial-image {
	display: inline-block;
	width: 70px;
	margin-bottom: 0.875rem;
	border-radius: 50%;
}

.slider-2 .testimonial-author {
	margin-bottom: 0.125rem;
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1.125rem;
}


/************************/
/*     Registration     */
/************************/
.form-1 {
	overflow: hidden;
	position: relative;
	padding-top: 4.5rem;
	padding-bottom: 9rem;
	text-align: center;
}

.form-1 .h2-heading {
	margin-bottom: 1rem;
}

.form-1 .p-heading {
	margin-bottom: 3rem;
}

.form-1 .form-control-input {
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
	background-color: #fcfcfc;
}

.form-1 .form-control-submit-button {
	height: 3.5rem;
}

.form-1 .label-control {
	top: 1rem;
}

.form-1 .decoration {
	position: absolute;
	bottom: 0;
	width: 400px;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 5.5rem;
	padding-bottom: 1.5rem;
	background-color: #f6f6f7;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #707477;
}

.footer p,
.footer a,
.footer ul {
	color: #707477;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
    color: #707477;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
    color: #707477;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	background-color: #f6f6f7;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #707477;
	text-decoration: none;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #4d505a url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #ffd103;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	background: url('../images/header-background.png') center center no-repeat;
	background-size: cover;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f6f6f7;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #0099ff;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.375rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header .form-group {
		display: inline-block;
		vertical-align: top;
	}
	
	.header .form-control-input {
		width: 16rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.header .form-control-submit-button {
		width: 10rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	/* end of header */


	/* Features */
	.basic-1 .feature-container {
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of features */


	/* Video */
	.basic-5 .video-wrapper {
		max-width: 534px;
	}
	/* end of video */


	/* Registration */
	.form-1 .form-group {
		max-width: 20rem;
		display: inline-block;
		vertical-align: top;
	}
	
	.form-1 .form-control-input {
		width: 20rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.form-1 .form-control-submit-button {
		width: 10rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-1 .decoration {
		right: -100px;
	}
	/* end of registration */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		border-bottom: none;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid #ebf0f3;
		background-color: #ffffff;
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-solid-sm {
		margin-top: 0;
		margin-left: 1rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 10rem;
		padding-bottom: 2rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 3rem;
	}
	
	.header .card {
		display: inline-block;
		width: 290px;
		text-align: center;
		vertical-align: top;
	}
	
	.header .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of header */


	/* Features */
	.basic-1 .feature-container {
		margin-right: 2.375rem;
		margin-left: 2.375rem;
	}
	/* end of features */

	
	/* Details 1 */
	.basic-2 .text-container {
		margin-top: 3rem;
		margin-bottom: 0;
	}
	/* end of details 1 */


	/* Details 2 */
	.basic-3 .image-container {
		margin-bottom: 0;
	}

	.basic-3 .text-container {
		margin-top: 5rem;
	}
	/* end of details 2 */


	/* Details 3 */
	.basic-4 .text-container {
		margin-top: 3rem;
		margin-bottom: 0;
	}
	/* end of details 3 */


	/* Video */
	.basic-5 .text-container {
		margin-top: 3rem;
		margin-bottom: 0;
	}
	/* end of video */


	/* Testimonials */
	.slider-2 .swiper-container {
		width: 92%;
	}

	.slider-2 .swiper-button-prev {
		left: -16px;
		width: 22px;
		background-size: 22px 34px;
	}
	
	.slider-2 .swiper-button-next {
		right: -16px;
		width: 22px;
		background-size: 22px 34px;
	}

	.slider-2 .details {
		display: flex;
		align-items: flex-start;
	}
	
	.slider-2 .text {
		flex-direction: column;
	}

	.slider-2 .testimonial-author {
		margin-top: 0.625rem;
	}
	
	.slider-2 .testimonial-image {
		margin-right: 1.125rem;
		margin-bottom: 0;
	}
	/* end of testimonials */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Header */
	.header {
		overflow-x: hidden;
		padding-top: 10.5rem;
	}

	.header .text-container {
		margin-top: 8.5rem;
		margin-right: 1.5rem;
	}

	.header h1 {
		font-size: 2.875rem;
		line-height: 3.375rem;
	}

	.header .image-container {
		width: 633px;
		margin-bottom: 7.5rem;
		margin-left: 6rem;
	}

	.header .card {
		width: 350px;
		padding: 4rem 2.25rem;
	}
	/* end of header */


	/* Details 1 */
	.basic-2 .text-container {
		margin-top: 7.5rem;
	}

	.basic-2 .image-container {
		margin-left: 4rem;
	}
	/* end of details 1 */


	/* Details 2 */
	.basic-3 .image-container {
		margin-right: 4rem;
	}

	.basic-3 .text-container {
		margin-top: 7.5rem;
	}
	/* end of details 2 */


	/* Details 3 */
	.basic-4 .text-container {
		margin-top: 7.5rem;
	}

	.basic-4 .image-container {
		margin-left: 4rem;
	}
	/* end of details 3 */


	/* Video */
	.basic-5 .text-container {
		margin-top: 4.5rem;
		margin-right: 6rem;
	}

	.basic-5 .video-wrapper {
		margin-right: 0;
		margin-left: auto;
	}
	/* end of video */


	/* Testimonials */
	.slider-2 .swiper-button-prev {
		left: -24px;
	}
	
	.slider-2 .swiper-button-next {
		right: -24px;
	}
	/* end of testimonials */


	/* Registration */
	.form-1 .decoration {
		bottom: -70px;
		width: 500px;
	}
	/* end of registration */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */