.blinking {
  animation: blinkingText 1.2s infinite;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: 0.2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

.is-visible,
.blc {
  color: gery;
}

.animated-text {
  transform: scale(0.5);
}

@media (min-width: 768px) {
  .animated-text {
    transform: scale(1.2);
  }
}

@media (max-width: 576px) {
  .animated-text {
    transform: scale(0.3);
    white-space: nowrap;
  }
}

.noSelect {
  pointer-events: none;
}
