{% extends "base.html" %}

{% block content %}

<!-- content -->
<div class="ml-64 flex-1 bg-gray-50">
  <header class="header px-4 my-4">
      <div class="header-content h-32 bg-gradient-to-r from-indigo-600 to-pink-400 shadow py-4 rounded-3xl">
          <div class="flex flex-col md:flex-row mt-10">

            </div>
        </div>
        <div class="flex flex-col md:flex-row justify-evenly">
            <div class="flex-none w-32"></div>
            <div class="flex-1">
                <span class="flex flex-col items-center md:items-start mt-14 md:mt-0">
                    <span class="w-50 font-semibold text-2xl text-gray-800">
                        {% if user.name %}
                        {{user.name}}
                        {% else %}
                        {{user.username}}
                        {% endif %}
                    </span>
                    <span class="w-50 text-gray-500 text-md tracking-[0.25em]">Designer | Coder</span>
                    <span class="flex space-x-4 mt-2">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em"
                                height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                                <path fill="currentColor" d="M7.5 5a2.5 2.5 0 1 0 0 5a2.5 2.5 0 0 0 0-5Z" />
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M4.5 0A4.5 4.5 0 0 0 0 4.5v6A4.5 4.5 0 0 0 4.5 15h6a4.5 4.5 0 0 0 4.5-4.5v-6A4.5 4.5 0 0 0 10.5 0h-6ZM4 7.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0ZM11 4h1V3h-1v1Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em"
                                height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z" />
                            </svg>
                        </div>
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em"
                                height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 1000">
                                <path fill="currentColor"
                                    d="M196.064.25C88.347.25.187 88.408.187 196.127v607.841c0 107.717 88.158 195.845 195.877 195.845h607.841c107.718 0 195.845-88.127 195.845-195.845V196.127C999.75 88.41 911.623.25 803.905.25H196.064zm49.266 164.948c51.648 0 83.461 33.906 84.443 78.475c0 43.585-32.797 78.444-85.442 78.444h-.969c-50.665 0-83.412-34.857-83.412-78.444c0-44.568 33.738-78.475 85.379-78.475zm445.08 208.31c99.329 0 173.79 64.922 173.79 204.436v260.449H713.247V595.406c0-61.06-21.847-102.718-76.476-102.718c-41.704 0-66.562 28.078-77.476 55.202c-3.987 9.704-4.967 23.257-4.967 36.832v253.671H403.375s1.981-411.613 0-454.233h150.984v64.324c20.06-30.95 55.942-74.977 136.051-74.977zm-521.556 10.685h150.953v454.202H168.854V384.193z" />
                            </svg>
                        </div>
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path
                                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2.218 18.616c-.354.069-.468-.149-.468-.336v-1.921c0-.653-.229-1.079-.481-1.296 1.56-.173 3.198-.765 3.198-3.454 0-.765-.273-1.389-.721-1.879.072-.177.312-.889-.069-1.853 0 0-.587-.188-1.923.717-.561-.154-1.159-.231-1.754-.234-.595.003-1.193.08-1.753.235-1.337-.905-1.925-.717-1.925-.717-.379.964-.14 1.676-.067 1.852-.448.49-.722 1.114-.722 1.879 0 2.682 1.634 3.282 3.189 3.459-.2.175-.381.483-.444.936-.4.179-1.413.488-2.037-.582 0 0-.37-.672-1.073-.722 0 0-.683-.009-.048.426 0 0 .46.215.777 1.024 0 0 .405 1.25 2.353.826v1.303c0 .185-.113.402-.462.337-2.782-.925-4.788-3.549-4.788-6.641 0-3.867 3.135-7 7-7s7 3.133 7 7c0 3.091-2.003 5.715-4.782 6.641z" />
                            </svg>
                        </div>
                    </span>
                </span>
            </div>
            <div class="flex justify-center md:justify-end md:mr-7 my-4">
                <button
                    class="rounded-full px-10 py-1 text-sm font-semibold border-0 bg-indigo-500 text-white hover:bg-gray-500 hover:text-white duration-300">Hire
                    me</button>
            </div>
        </div>

  </header>

    <div class="mt-86">
        <dl>
            <div class="px-4 py-5 md:flex border-t border-gray-200">
                <dt class="flex-initial md:w-64 text-xl font-semibold text-gray-700">About Me</dt>
                <dd class="flex-1 md:w-64 mt-1 text-sm text-gray-900 sm:mt-0">
                    {% if user.bio %}
                    <p class="">{{user.bio|linebreaks}}</p>
                    {% else %}
                    <p class="text-gray-400">Member has no biography</p>
                    {% endif %}


                    <div class="mt-4 lg:flex justify-around bg-indigo-50 rounded-lg pl-4 py-2">
                        <div class="flex flex-row items-center">
                            <span class="flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                                </svg>
                            </span>
                            <span class="ml-2 text-sm">Dubai, United Arab Emirates</span>
                        </div>
                        <div class="flex flex-row items-center py-2">
                            <span class="flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                                </svg> </span>
                            <span class="mx-2 text-sm">saraal@gmail.com</span>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" />
                                </svg>
                            </a>
                        </div>
                        <div class="flex flex-row items-center">
                            <span class="flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z" />
                                </svg>
                                <span class="mx-2 text-sm">saraal.com</span>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24"
                                        width="16px" fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" />
                                    </svg>
                                </a>
                        </div>
                    </div>
                </dd>
            </div>

            <!-- start education  -->
            <div class=" px-4 py-5 md:flex my-5 border-t border-gray-200">
                <dt class="flex-initial md:w-64 text-xl font-semibold text-gray-700">Education</dt>
                <dd class="flex-1 md:w-64 mt-1 text-sm text-gray-900 sm:mt-0">
                    
                    <!-- loop through education  -->
                    {% for education in portfolio.education_set.all %}
                    <div class="flex mb-4">
                        <img class="rounded-full h-10 w-10"
                            src="https://tethys.pnnl.gov/sites/default/files/styles/captioned_400xauto/public/taxonomy-images/Khalifa_university_logo.png?itok=91JBke00">
                        <div class="px-4">
                            <h1 class="text-sm font-bold text-gray-700">{{education.school}}</h1>
                            <button class="bg-green-400 text-white text-xs rounded px-4 py-0">Current</button>
                            <p class="text-sm">{{education.degree}}</p>
                            <p class="text-sm">Abu Dhabi, United Arab Emirates</p>
                        </div>
                    </div>
                    {% endfor %}

                </dd>
            </div>
            <!-- end education  -->


            <!-- start experience  -->
            <div class=" px-4 py-5 md:flex my-5 border-t border-gray-200">
                <dt class="flex-initial md:w-64 text-xl font-semibold text-gray-700">Experience</dt>
                <dd class="flex-1 md:w-64 mt-1 text-sm text-gray-900 sm:mt-0">

                    {% for experience in portfolio.experience_set.all %}
                    <div class="p-2 flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 256 262"
                            preserveAspectRatio="xMidYMid">
                            <path
                                d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                                fill="#4285F4" />
                            <path
                                d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                                fill="#34A853" />
                            <path
                                d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                                fill="#FBBC05" />
                            <path
                                d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                                fill="#EB4335" />
                        </svg>
                        <div class="px-4">
                            <h1 class="text-sm font-bold text-gray-700">{{experience.job_title}}</h1>
                            {% if experience.is_current %}
                            <button class="bg-green-400 text-white text-xs rounded px-4 py-0">Current</button>
                            {% endif %}
                            <p class="text-sm">Google - Full Time</p>
                            <p class="text-sm">{{experience.start_date}} - {{experience.end_date}}</p>
                        </div>
                    </div>
                    {% endfor %}

                </dd>
            </div>
            <!-- end experiance  -->

            <!-- start projects  -->
            <div class="px-4 py-5 md:flex my-5 border-t border-gray-200">
                <dt class="flex-initial md:w-64 text-xl font-semibold text-gray-700">Projects</dt>
                <dd class="flex-1 w-64 mt-1 text-sm text-gray-900 sm:mt-0">

                    {% for project in portfolio.project_set.all %}
                    <div class="px-3 py-2">
                        <h1 class="text-sm font-bold text-gray-700">{{project.name}}</h1>
                        <p class="text-sm">{{project.description}}</p>
                    </div>
                    {% endfor %}

                </dd>
            </div>
            <!-- end projects  -->

            {% if portfolio.contribution_set.all %}
            <!-- start contributions  -->
            <div class=" px-4 py-5 md:flex my-5 border-t border-gray-200">
                <dt class="flex-initial md:w-64 text-xl font-semibold text-gray-700">Contributions</dt>
                <dd class="flex-1 w-64 mt-1 text-sm text-gray-900 sm:mt-0">

                    {% for contribution in portfolio.contribution_set.all %}
                    <div class="px-3 py-2">
                        <h1 class="text-sm font-bold text-gray-700">{{contribution.contributor_role}}</h1>
                        <p class="text-sm">Lorem, ipsum dolor.</p>
                        <p class="text-sm">Jan 2020 - May 2020</p>
                    </div>
                    {% endfor %}

                </dd>
            </div>
            <!-- end contributions  -->
            {% endif %}

            {% if portfolio.award_set.all %}
            <!-- start awards  -->
            <div class=" px-4 py-5 md:flex my-5 border-t border-gray-200">
                <dt class="flex-initial md:w-64 text-xl font-semibold text-gray-700">Awards</dt>
                
                <dd class="flex-1 w-64 mt-1 text-sm text-gray-900 sm:mt-0">
                    {% for award in portfolio.award_set.all %}
                    <div class="px-3 py-2">
                            <h1 class="text-sm font-bold text-gray-700">{{award.name}}</h1>
                            <p class="text-sm">{{award.date_awarded}}</p>
                        </div>
                    {% endfor %}
                </dd>
            </div>
            <!-- end awards  -->
            {% endif %}


            {% if portfolio.language_set.all %}
            <!-- start languages  -->
            <div class=" px-4 py-5 md:flex my-5 border-t border-gray-200">
                <dt class="flex-initial md:w-64 text-xl font-semibold text-gray-700">Skills</dt>
                <dd class="flex-1 w-64 mt-1 text-sm text-gray-900 sm:mt-0">

                    {% for language in portfolio.language_set.all %}
                    <button
                        class="rounded-full my-2 px-4 py-2 text-sm font-semibold bg-gray-100 text-gray-900">{{language.name}}</button>
                    {% endfor %}
                    
                </dd>
            </div>
            <!-- end languages  -->
            {% endif %}
        </dl>
    </div>

</div>


{% endblock %}
